<template>
  <div>
    <div class="grid-x m-top">
      <client-only>
        <vue-headful v-if="post"
                     :title="'WOH.RU - ' + post.title"
                     description="Description from vue-headful"
        />
      </client-only>

      <loading v-if="loading" />

      <div class="large-18 cell m-top">
        <div class="post-body" itemscope itemtype="http://schema.org/NewsArticle">
          <div class="post-header">
            <h1 itemprop="headline">
              {{ post.title }}
            </h1>
          </div>

          <div class="post-source-container" itemscope itemtype="http://schema.org/Person">
            <a v-if="post.source" class="post-source secondary-text" :href="post.source.url" target="_blank" title="источник" itemprop="name">{{ post.source.name }}</a>
            <div class="secondary-text">
              {{ post.publishedAt | formatDate }}
            </div>
          </div>

          <div class="post-content">
            <img v-if="post.announce" class="post-teaser" :src="teaserImage">
            <div v-if="!post.announce" class="post-text" itemprop="articleBody" v-html="post.text" />

            <div class="post-header-info">
              <post-tags v-if="post" :post="post" />
              <post-categories v-if="post" :post="post" />
            </div>

            <div v-if="post.announce" class="post-text-details" itemprop="articleBody" v-html="post.text" />
          </div>

          <post-like v-if="post" :post="post" :user="user" />
        </div>

        <div class="some-else-container">
          <div class="sub-block-title">
            <h2>Смотрите также</h2>
          </div>
          <client-only>
            <div class="grid-x some-else-body">
              <router-link v-for="post in nearest"
                           :key="post.id" :style="{ backgroundImage: 'url' + '(' + nearestImg(post.nearestImage) + ')' }" :to="'/category-list/' + post.categories[0] + '/post/' + post.id"
                           class="cell some-else-block"
              >
                <div class="some-else-title-container">
                  <post-categories :post="post" />
                  <div class="some-else-block-title">
                    {{ post.title }}
                  </div>
                </div>
              </router-link>
            </div>
          </client-only>
        </div>
        <client-only>
          <PostComments id="comments" />
        </client-only>
      </div>


      <div v-if="!loading" class="large-6 show-for-large">
        <div class="right-info first">
          <img style="margin-bottom: 30px" src="../../assets/images/pizza.jpg" alt="">
          <img src="../../assets/images/hrenodav.jpg" alt="">
        </div>
        <div class="right-info second">
          <most-commented />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
import { mapGetters } from 'vuex';
import { POST_REQUEST, NEAREST } from '../../store/actions/PostGet';
import { COMMENTS_GET } from '../../store/actions/comments';
import MostCommented from '../parts/MostCommented.vue';
import PostLike from '../posts/parts/PostLike.vue';
import PostComments from '../comments/CommentsList.vue';
import PostTags from './parts/PostTags.vue';
import PostCategories from './parts/PostCategories.vue';

export default {
  transition: 'fade',
  name: 'PostDetails',
  components: {
    PostLike, PostCategories, PostTags, MostCommented, PostComments
  },
  async fetch({ store, route }) {
    await store.dispatch(POST_REQUEST, route.params.id);
    await store.dispatch(NEAREST, route.params.id);
  },
  computed: {
    ...mapGetters(['post', 'postStatus', 'user', 'posts', 'nearest']),
    loading() {
      return this.postStatus === 'loading';
    },
    teaserImage() {
      if (this.post.teaserImage && !this.post.teaserImage.includes('http://dev.woh.ru')) {
        this.post.teaserImage = `${process.env.imgRoot}${this.post.teaserImage}`;
      }
      return this.post.teaserImage;
    }
  },
  mounted() {
    window.addEventListener('scroll', this.sideScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.sideScroll);
  },
  methods: {
    nearestImg(img) {
      let image = '';
      if (img && !img.includes('http://dev.woh.ru')) {
        image = `${process.env.imgRoot}${img}`;
      }
      return image;
    },
    sideScroll() {
      const elSecond = document.querySelector('.second');
      const elFirst = document.querySelector('.first');
      const distance = elFirst.clientHeight + elFirst.offsetTop;
      if (window.scrollY > distance) {
        elSecond.setAttribute(
          'style',
          'position: fixed; top: 25px;',
        );
      } else { elSecond.removeAttribute('style'); }
    }
  },
  beforeRouteUpdate(to, from, next) {
    next();
    this.$store.dispatch(POST_REQUEST, this.$route.params.id);
    this.$store.dispatch(COMMENTS_GET, this.$route.params.id);
    this.$store.dispatch(NEAREST, this.$route.params.id);
  }
};
</script>



