<template>
  <transition name="fadePost">
    <div itemscope itemtype="http://schema.org/NewsArticle" class="post-body">
      <div class="post-header">
        <router-link :to="'/category-list/' + post.categories[0] + '/post/' + post.id">
          <h1 itemprop="headline">
            {{ post.title }}
          </h1>
        </router-link>
      </div>

      <div class="post-source-container" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <a v-if="post.source" class="post-source secondary-text" :href="post.source.url" target="_blank" title="источник" itemprop="name">{{ post.source.name }}</a>
        <div class="secondary-text">
          {{ post.publishedAt | formatDate }}
        </div>
      </div>

      <div class="post-content">
        <img v-if="post.announce" class="post-teaser" :src="teaserImage">
        <div v-if="!post.announce" itemprop="articleBody" class="post-text" v-html="post.text" />


        <div class="post-header-info">
          <post-tags v-if="post" :post="post" />
          <post-categories v-if="post" :post="post" />
        </div>

        <div v-if="post.announce" itemprop="articleBody" class="post-text" v-html="post.announce" />

        <div v-if="post.announce" class="post-announce-link">
          <router-link :to="'/category-list/' + post.categories[0] + '/post/' + post.id">
            Читать далee...
          </router-link>
        </div>
      </div>
      <post-like :post="post" :user="user" />
    </div>
  </transition>
</template>

<script>
import PostLike from '../posts/parts/PostLike.vue';
import PostTags from './parts/PostTags.vue';
import PostCategories from './parts/PostCategories.vue';
export default {
  serverCacheKey: props => props.post.id + '::' + props.post.updatedAt,
  name: 'Post',
  components: { PostLike, PostCategories, PostTags },
  props: ['post', 'user'],
  computed: {
    teaserImage() {
      if (this.post.teaserImage && !this.post.teaserImage.includes('http://dev.woh.ru')) {
        this.post.teaserImage = `${process.env.imgRoot}${this.post.teaserImage}`;
      }
      return this.post.teaserImage;
    }
  }
};
</script>

<style scoped>
  .item {
    margin-top: 10px;
    margin-right: 40px;
  }
</style>
