<template>
  <div class="grid-x">
    <div>
      <client-only>
        <vue-headful
          title="WOH.RU - Главная"
          description="Description from vue-headful"
        />
      </client-only>
    </div>

    <teaser-block v-if="teasersDone" />
    <client-only>
      <div class="widget-hashtags-container">
        <widget-hashtag />
      </div>
    </client-only>

    <div class="large-18 cell">
      <div class="posts-body">
        <post v-for="post in posts.posts" :key="post.id" :post="post" :user="user" />
      </div>

      <a v-if="!posts.postsLoading" class="more-news" @click="handLoad">ЕЩЁ...</a>
      <loading v-if="posts.postsLoading" />
    </div>

    <div class="large-6 show-for-large">
      <div class="right-info first">
        <img style="margin-bottom: 30px" src="../../assets/images/pizza.jpg" alt="">
        <img src="../../assets/images/hrenodav.jpg" alt="">
      </div>
      <div class="right-info second">
        <most-commented />
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
import { mapGetters } from 'vuex';
import { POSTS_REQUEST } from '../../store/actions/PostGet';
import { TEASERS_REQUEST } from '../../store/actions/Teaser';
import TeaserBlock from '../parts/TeaserBlock.vue';
import WidgetHashtag from '../parts/WidgetHashtag.vue';
import MostCommented from '../parts/MostCommented.vue';
import Post from './Post.vue';

export default {
  name: 'PostsList',
  components: {
    MostCommented, Post, TeaserBlock, WidgetHashtag
  },
  async fetch({ store }) {
    if (store.getters.posts.posts.length === 0) {
      await store.dispatch(POSTS_REQUEST, 0);
    }
    await store.dispatch(TEASERS_REQUEST);
  },
  computed: {
    ...mapGetters(['posts', 'user', 'teasers', 'teasersDone']),
    newPosts() {
      return this.posts.posts.slice(0, 5);
    }
  },
  mounted() {
    window.addEventListener('scroll', this.infinityScroll);
    window.addEventListener('scroll', this.sideScroll);
  },
  beforeDestroy() {
  },
  destroyed() {
    document.querySelector('.second').removeAttribute('style');
    window.removeEventListener('scroll', this.infinityScroll);
    window.removeEventListener('scroll', this.sideScroll);
  },
  methods: {
    sideScroll() {
      const elSecond = document.querySelector('.second');
      const elFirst = document.querySelector('.first');
      const distance = elFirst.clientHeight + elFirst.offsetTop;
      if (window.scrollY > distance) {
        elSecond.setAttribute(
          'style',
          'position: fixed; top: 25px;',
        );
      } else { elSecond.removeAttribute('style'); }
    },
    infinityScroll() {
      const total = this.posts.pageCount.totalPages - 1;
      const diffHeight = Math.floor(Math.abs(document.documentElement.scrollHeight
          - document.documentElement.scrollTop));
      if (diffHeight <= 2500 && !this.posts.postsLoading && total !== this.posts.pageCount.currentPage
          && this.posts.pageCount.totalPages !== 0) {
        this.posts.pageCount.currentPage += 1;
        this.$store.dispatch(POSTS_REQUEST, this.posts.pageCount.currentPage).then(() => {
        });
      }
    },
    handLoad() {
      const total = this.posts.pageCount.totalPages - 1;
      if (total !== this.posts.pageCount.currentPage) {
        this.posts.pageCount.currentPage += 1;
        this.$store.dispatch(POSTS_REQUEST, this.posts.pageCount.currentPage).then(() => {
        });
      }
    }
  }
};
</script>

<style>
  .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

  .demo-carousel .el-carousel__item h3 {
    color: #fff;
    font-size: 18px;
    line-height: 300px;
    margin: 0;
  }
  .carousel-slide-text {
    background: #3535358f;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    font-size: 18px;
    padding: 12px 10px;
    width: 100%;
    text-align: center;
  }

  .el-carousel__item img {
    height: 350px;
    width: 808px;
  }

  .el-carousel__arrow {
    border-radius: 0%;
    background: none;
    padding: 175px 100px;
  }
  .el-carousel__arrow:hover {
    background: #46464614;
  }
  .el-carousel__arrow--right {
    right: 0;
  }
  .el-carousel__arrow--left {
    left: 0;
  }

  .el-carousel__arrow i {
    font-size: 25px;
    font-weight: bold;
  }

  .teaser-like-fill-ins {
    fill: none;
  }

  .teaser-like-fill-out {
    fill: white;
  }
</style>
