<template>
  <div>
    <client-only>
      <vue-headful
        title="WOH.RU - профиль"
        description="Description from vue-headful"
      />
    </client-only>
    <router-view />
  </div>
</template>

<script>
import { USER_REQUEST } from '../../store/actions/user';
export default {
  name: 'User',
  async fetch({ store }) {
    await store.dispatch(USER_REQUEST);
  },
  computed: {
  },
  created() {
  },
  destroyed() {
  },
  methods: {
  }
};
</script>

<style scoped>
  .router-link-exact-active.active {
    border-bottom: 3px solid dodgerblue;
    padding-bottom: 5px;
  }
</style>
