<template>
  <div class="user-settings-container">
    <vue-headful
      title="WOH.RU - Настройки"
      description="Description from vue-headful"
    />

    <h2 class="user-settings-title">
      Настройки
    </h2>

    <user-avatar v-if="isProfileLoaded" />

    <account-settings />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import AccountSettings from './parts/AccountSettings.vue';
import UserAvatar from './parts/UserAvatar.vue';

export default {
  name: 'UserSettings',
  components: { AccountSettings, UserAvatar },
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['user', 'isProfileLoaded'])
  }
};
</script>

<style scoped>

</style>
