<template>
  <div class="user-page-container grid-x">
    <vue-headful
      title="WOH.RU - добавить статью"
      description="Description from vue-headful"
    />

    <div class="shrink cell auto-for-small">
      <div class="user-new-post-top-container">
        <h2>Новая статья</h2>
        <div class="user-new-post-top-time">
          Черновик, 21:01 04.12.2019
        </div>
        <div class="user-new-post-top-buttons">
          <el-button class="no-padding" type="text" :disabled="!saveAllow" @click="test">
            Сохранить
          </el-button>
        </div>
      </div>

      <div class="user-new-post-teaser">
        <croppa
          v-model="post.teaserImage"
          :width="780"
          :height="360"
          placeholder=""
          canvas-color="transparent"
          :show-remove-button="true"
          remove-button-color="black"
          :prevent-white-space="true"
          :show-loading="true"
          :remove-button-size="25"
        >
          <img slot="placeholder"
               src="../../assets/images/circle-edit.png"
          >
        </croppa>
      </div>

      <post-tags-add :post="post" />
      <div class="line" />
      <el-input v-model="post.title" class="user-new-post-title" resize="none"
                :autosize="autosize" placeholder="Заголовок" type="textarea"
      />
      <client-only>
        <froala v-model="post.text" class="editor" :config="config" />
      </client-only>
    </div>
    <div class="auto cell show-for-large">
      <user-slide-info :post="post" />
    </div>
  </div>
</template>

<script>
import 'froala-editor/css/themes/dark.min.css';
import { configFroala } from '../mixins/postEditConfig';
import PostTagsAdd from '../parts/PostTagsAdd.vue';
import UserSlideInfo from './parts/UserSlideInfo.vue';

export default {
  name: 'UserNewPost',
  components: { PostTagsAdd, UserSlideInfo },
  mixins: [configFroala],
  data() {
    const post = {
      title: '', text: '', tags: [], categories: [], teaserImage: null
    };
    const top = 54;
    return {
      post,
      autosize: { minRows: 1, maxRows: 6 },
      allow: true,
      message: '',
      top
    };
  },
  computed: {
    saveAllow() {
      this.allow = this.post.title.length <= 2;
      return this.allow;
    }
  },
  methods: {
    test() {
      console.log(this.linkInitControls);
    }
  }
};
</script>

<style scoped>
  .line {
    border-bottom: 1px solid #d8d8d8;
    margin: 20px 0;
  }

  .editor {
    padding-bottom: 50px;
    max-width: 780px;
  }

  .no-padding {
    padding: 0;
  }
</style>
