<template>
  <div class="comments-body">
    <div v-if="commentTitle" id="edit" class="sub-block-title">
      <h2>Комментарии ({{ totalComments }})</h2>
    </div>
    <div v-else>
      Ваш комментарий будет первым
    </div>

    <div v-show="isAuthenticated" class="comment-new">
      <div v-if="replyTo.id" class="replay-info secondary-text">
        Ответ пользователю {{ replyTo.user.name }}
        <i class="el-icon-close" @click="replayClear()" />
      </div>

      <div class="comment-new-editor">
        <cool-text-area :reply-to="replyTo" />
      </div>
    </div>

    <div v-show="!isAuthenticated" class="login-need secondary-text">
      <div><a @click="signShow">Авторизуйтесь</a>, чтобы оставить комментарий</div>
    </div>
    <comment-item v-for="(comment, index) in comments" :ref="`comment_${comment.id}`" :key="comment.id" :comment-index="index" :comment="comment" :reply-to="replyTo" />
  </div>
</template>

<script>
/* eslint-disable no-console */

import { mapGetters } from 'vuex';
import CoolTextArea from '../cool-emoji-picker/src/components/cooltextarea/cooltextarea.vue';
import { COMMENTS_GET } from '../../store/actions/comments';
import { AUTH_SHOW } from '../../store/actions/auth';
import CommentItem from './Comment.vue';

export default {
  name: 'PostComments',
  components: { CoolTextArea, CommentItem },
  data() {
    const commentText = '';
    const replyTo = {
      id: null,
      user: { name: null }
    };
    return {
      commentText, replyTo
    };
  },
  computed: {
    ...mapGetters(['comments', 'isAuthenticated', 'post', 'totalComments']),
    commentTitle() {
      return this.totalComments > 0;
    }
  },
  watch: {
    commentText(comment) {
      localStorage.setItem(`post_${this.$route.params.id}`, comment);
    }
  },
  created() {
    this.$store.dispatch(COMMENTS_GET, this.$route.params.id);
  },
  mounted() {
    if (localStorage.getItem(`post_${this.$route.params.id}`)) {
      this.commentText = localStorage.getItem(`post_${this.$route.params.id}`);
    }
  },
  methods: {
    replayClear() {
      this.replyTo.id = null;
      this.replyTo.user = { name: null };
    },
    signShow() {
      this.$store.commit(AUTH_SHOW);
    }
  }
};
</script>
<style scoped>
  .login-need {
    margin: 30px 0;
  }
</style>
