<template>
  <!--  <transition name="fadePost">-->
  <div v-if="comment" :id="comment.id" :class="sendError" class="comment-body">
    <div class="comment-header">
      <div class="comment-avatar-container">
        <img v-if="comment.user.avatar" :src="avatar" alt="avatar" class="comment-user-avatar">
        <avatar v-else :custom-style="{ 'margin-right': '10px' }" :size="48"
                :username="comment.user.name"
        />
      </div>

      <div class="comment-header-sub">
        <span class="comment-user">{{ comment.user.name }}</span>
        <span v-if="comment.replyTo !== null && comment.replyTo.id !== null" class="comment-reply">
          <i class="fal fa-chevron-right" />
          <span class="comment-replay-user" @click="scrollToComment(comment.replyTo.id)">
            {{ comment.replyTo.user.name }}
          </span>
          <span v-if="noComment" class="small-text no-comment">:(</span>
        </span>
        <div class="comment-date">
          <div v-if="showCommentEl">
            {{ comment.createdAt | formatDate }}
          </div>
          <div v-if="comment.status === 'sending'">
            Добавление комментария
            <sending-loading />
          </div>
          <div v-if="comment.status === 'error'">
            Что-то пошло не так...
          </div>
        </div>
      </div>
      <div class="comment-like">
        <comment-like v-if="showCommentEl" :comment="comment" />
        <div v-if="comment.status === 'error'" class="comment-send-redo">
          <img src="../../assets/images/icons/new/close-b.png" title="Удалить" alt="" @click="deleteTemporaryComment">
          <img src="../../assets/images/icons/new/redo.png" title="Отправить снова" alt="" @click="resendingComment">
        </div>
      </div>
    </div>

    <div v-show="!edit" v-linkified class="comment-text" v-html="commentText()" />

    <div v-show="!edit && comment.media && comment.media.length > 0" class="comment-media">
      <div v-for="(item, i) in comment.media" :key="i" :class="flexBasis(item.thumbnail)" class="comment-media-el"
           @click="showGallery(i)"
      >
        <i v-if="item.embedCode" class="fab fa-youtube video" />
        <img v-if="item.thumbnail.content" :src="item.thumbnail.content">
        <img v-if="item.thumbnail.url" :src="commentImageUrl(item.thumbnail.url)">
      </div>
    </div>


    <div v-if="edit" class="comment-edit">
      <cool-text-area :comment="comment" :edit="edit" :reply-to="replyTo" @cancelEdit="commentEdit" />
    </div>


    <div v-if="showCommentEl" class="comment-footer">
      <div class="comment-reply-button">
        <a @click="replay()">Ответить</a>
      </div>
      <div class="comment-edit-buttons">
        <i v-if="commentButtonEdit && !deleteVisible" class="far fa-pen comment-footer-edit" @click="commentEdit()" />
        <i v-if="commentButtonDelete && !deleteVisible" class="fal fa-times comment-footer-delete"
           @click="deleteVisible = true"
        />

        <div v-if="deleteVisible" class="button-group">
          <i class="far fa-check button-approve" title="Удалить" @click="commentDelete()" />
          <i class="fal fa-times button-cancel" title="Отмена" @click="deleteVisible = false" />
        </div>
      </div>
    </div>

    <media-gallery-dialog :dialog-visible="dialogVisible" :media="comment.media" :itemindex="index.i" />
    <div v-if="comment.status === 'error'" class="error-info secondary-text">
      <div>Комментарий не добавлен попробуйте отправить снова</div>
    </div>
  </div>
  <!--  </transition>-->
</template>

<script>
/* eslint-disable no-console */

import { mapGetters } from 'vuex';
import { COMMENT_ADD_REQUEST, COMMENT_DELETE, COMMENT_DELETE_TEMPORARY } from '../../store/actions/comments';
import MediaGalleryDialog from '../parts/MediaGalleryDialog.vue';
import SendingLoading from '../parts/misc/SendingLoading.vue';
import CoolTextArea from '../cool-emoji-picker/src/components/cooltextarea/cooltextarea.vue';
import CommentLike from './CommentLike.vue';

export default {
  name: 'CommentItem',
  components: {
    CommentLike,
    SendingLoading,
    MediaGalleryDialog,
    CoolTextArea
  },
  props: ['comment', 'replyTo', 'commentIndex'],
  data() {
    const edit = false;
    return {
      edit,
      deleteVisible: false,
      vertical: false,
      dialogVisible: { visible: false },
      index: { i: null },
      gallery: null,
      showEl: true,
      noComment: false
    };
  },
  computed: {
    ...mapGetters(['user']),
    sendError() {
      return {
        'send-error': this.comment.status === 'error'
      };
    },
    showCommentEl() {
      this.showEl = (!this.comment.status || this.comment.status === 'success') && !this.edit;
      return this.showEl;
    },
    avatar() {
      if (this.comment.user.avatar && !this.comment.user.avatar.includes('http://dev.woh.ru')) {
        this.comment.user.avatar = `${process.env.imgRoot}${this.comment.user.avatar}`;
      }
      return this.comment.user.avatar;
    },
    replayAvatar() { // для ховера на реплей, пока отсутствует
      if (this.comment.replyTo.user.avatar && !this.comment.replyTo.user.avatar.includes('http://dev.woh.ru')) {
        this.comment.replyTo.user.avatar = `${process.env.imgRoot}${this.comment.replyTo.user.avatar}`;
      }
      return this.comment.replyTo.user.avatar;
    },
    commentButtonEdit() {
      let showButtonEdit = false;
      if (this.comment.user.id === this.user.id || this.user.access) {
        showButtonEdit = true;
      }
      return showButtonEdit;
    },
    commentButtonDelete() {
      let showButtonDelete = false;
      if (this.comment.user.id === this.user.id || this.user.access) {
        showButtonDelete = true;
      }
      return showButtonDelete;
    }
  },
  methods: {
    scrollToComment(id) {
      const replayElement = document.getElementById(id);
      if (replayElement) {
        replayElement.scrollIntoView({ block: 'center', behavior: 'smooth' });
        replayElement.classList.add('replay-target-view');
        setTimeout(function delay() {
          replayElement.classList.remove('replay-target-view');
        }, 3000);
      } else {
        this.noComment = true;
        console.log(this.noComment);
      }
    },
    showGallery(i) {
      this.dialogVisible.visible = true;
      this.index.i = i;
    },
    flexBasis(el) {
      return {
        'flex-basis-5': this.comment.media.length > 5 && this.comment.media.length < 7,
        'flex-basis-7': this.comment.media.length > 6,
        'is-vertical': el.width < el.height,
        'is-vertical-one': el.width < el.height && this.comment.media.length < 2
      };
    },
    commentImageUrl(img) {
      let image = img;
      if (image && !image.includes('http://dev.woh.ru')) {
        image = `${process.env.imgRoot}${image}`;
      }
      return image;
    },
    commentText() {
      // eslint-disable-next-line prefer-destructuring
      let text = this.comment.text;
      text = text.replace(/(\r\n|\n)/g, '<br/>');
      return text;
    },
    commentDelete() {
      this.comment.postId = this.$route.params.id;
      this.$store.dispatch(COMMENT_DELETE, this.comment).then(() => {
        console.log('delete');
      });
    },
    commentEdit() {
      this.edit = this.edit === false;
    },
    replay() {
      this.replyTo.id = this.comment.id;
      this.replyTo.user.name = this.comment.user.name;
    },
    resendingComment() { // переотправка неотправленного комментария
      this.comment.id = null;
      this.comment.status = 'sending';
      this.$store.dispatch(COMMENT_ADD_REQUEST, this.comment);
    },
    deleteTemporaryComment() {
      this.$store.commit(COMMENT_DELETE_TEMPORARY, this.commentIndex);
    }
  }
};
</script>

<style scoped>
  .fa-chevron-right {
    margin: 0 5px;
    color: #b5b5b5;
    font-size: 12px;
  }
  .button-group {
    line-height: 0;
  }
  .button-group i {
    font-size: 18px;
  }
  .video {
    position: absolute;
    top: 45%;
    right: 45%;
    color: #ded7d7;
    font-size: 31px;
  }
  .redo {
    font-size: 22px;
    color: #409eff;
  }
  .redo:hover {
    transition: 1s;
    backface-visibility: hidden;
    transform: rotate(45deg) translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .comment-send-redo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .comment-send-redo img:first-child {
    margin-right: 10px;
  }
  .error-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #ffffff;
    background: #E7AE00;
    opacity: 0.8;
    min-height: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .send-error {
    border: 1px solid #E7AE00;
  }
  .no-comment {
    font-weight: 400;
    color: #999999;
    font-size: 12px;
    margin-left: 2px;
    line-height: 16px;
  }
  .comment-avatar-container {
    margin-right: 10px;
  }
</style>
