<template>
  <div class="user-settings-account">
    <h3 class="user-settings-account-title">
      Основная информация
    </h3>

    <div class="user-settings-input-container">
      <div class="user-settings-input-title">
        Ваше имя
      </div>
      <div v-if="!nameInputView" class="user-settings-input-block" @click="editName">
        {{ user.name }}
        <i class="far fa-pen user-settings-input-i" />
      </div>

      <el-form v-if="nameInputView" ref="ruleFormName" :model="ruleFormName"
               annotation-icon :rules="nameRule" :inline="true" @submit.native.prevent="submitName('ruleFormName')"
      >
        <el-form-item prop="name">
          <el-input ref="editName" v-model="ruleFormName.name" type="text" auto-complete="off" />
        </el-form-item>
        <el-form-item>
          <button class="button-approve" type="submit">
            <i class="far fa-check" />
          </button>
          <button class="button-cancel" @click="nameInputView = false">
            <i class="fal fa-times" />
          </button>
        </el-form-item>
      </el-form>
    </div>


    <div class="user-settings-input-container">
      <div class="user-settings-input-title">
        Статус
      </div>
      <div v-if="!annotationInputView" class="user-settings-input-block" @click="editAnnotation">
        {{ annotationEmpty }}
        <i class="far fa-pen user-settings-input-i" />
      </div>

      <el-form v-if="annotationInputView" annotation-icon :inline="true" @submit.native.prevent="submitAnnotation()">
        <el-form-item>
          <el-input ref="editAnnotation" v-model="annotation" type="text" />
        </el-form-item>
        <el-form-item>
          <button class="button-approve" type="submit">
            <i class="far fa-check" />
          </button>
          <button class="button-cancel" @click="annotationInputView = false">
            <i class="fal fa-times" />
          </button>
        </el-form-item>
      </el-form>
    </div>


    <div class="user-settings-input-container user-settings-pass">
      <div class="user-settings-input-title">
        Пароль
      </div>
      <div v-if="!changePass" class="user-settings-input-block user-settings-input-pass" @click="editPassword">
        <i class="far fa-pen user-settings-input-i" />**************
      </div>

      <el-form v-if="changePass" ref="rulePass" class="user-settings-form-pass"
               :model="rulePass" annotation-icon
               :rules="rules2" :inline="true" @submit.native.prevent="submitPass('rulePass')"
      >
        <el-form-item prop="password">
          <el-input ref="editPassword" v-model="rulePass.password" placeholder="Новый пароль" type="password"
                    auto-complete="off"
          />
        </el-form-item>
        <el-form-item prop="password2">
          <el-input v-model="rulePass.password2" placeholder="Повторите" type="password" auto-complete="off" />
        </el-form-item>
        <el-form-item>
          <button class="button-approve" type="submit">
            <i class="far fa-check" />
          </button>
          <button class="button-cancel" @click="changePass = false">
            <i class="fal fa-times" />
          </button>
        </el-form-item>
      </el-form>
    </div>

    <div class="user-settings-line" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { USER_SAVE, USER_SAVE_PASS } from '../../../store/actions/user';

export default {
  name: 'AccountSettings',
  data() {
    const ruleFormName = { name: '' };
    const userChange = {};
    const newPass = {};
    const changePass = false;
    const annotationInputView = false;
    const nameInputView = false;
    const annotation = '';
    const validateName = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Пожалуйста введите имя'));
      } else {
        if (value.length < 3) {
          callback(new Error('Минимальная длина имени 3 символа!'));
        } else if (value.length > 20) {
          callback(new Error('Максимальная длина имени 20 символов!'));
        }
        callback();
      }
    };

    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Пожалуйста введите новый пароль'));
      } else {
        if (this.rulePass.password2 !== '') {
          this.$refs.rulePass.validateField('password2');
        }
        callback();
      }
    };
    const validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('Пожалуйста повторите введённый пароль'));
      } else if (value !== this.rulePass.password) {
        callback(new Error('Введённые пароли не совпадают!'));
      } else {
        callback();
      }
    };
    return {
      changePass,
      annotation,
      userChange,
      newPass,
      nameInputView,
      annotationInputView,
      rulePass: {
        password: '',
        password2: ''
      },
      ruleFormName,
      nameRule: {
        name: [
          { validator: validateName, trigger: 'blur' }
        ]
      },
      rules2: {
        password: [
          { validator: validatePass, trigger: 'blur' }
        ],
        password2: [
          { validator: validatePass2, trigger: 'blur' }
        ]
      },
      dialogVisible: false
    };
  },

  computed: {
    ...mapGetters(['user', 'isProfileLoaded']),
    annotationEmpty() {
      if (!this.user.annotation) {
        this.user.annotation = 'Изменить статус';
      }
      return this.user.annotation;
    }
  },
  methods: {
    editName() {
      this.ruleFormName.name = this.user.name;
      this.nameInputView = true;
      this.$nextTick(() => {
        this.$refs.editName.$refs.input.focus();
      });
    },
    editAnnotation() {
      if (this.user.annotation === 'Изменить статус') {
        this.user.annotation = '';
      }
      this.annotation = this.user.annotation;
      this.annotationInputView = true;
      this.$nextTick(() => {
        this.$refs.editAnnotation.$refs.input.focus();
      });
    },
    editPassword() {
      this.changePass = true;
      this.$nextTick(() => {
        this.$refs.editPassword.$refs.input.focus();
      });
    },
    submitPass(rulePass) {
      this.$refs[rulePass].validate((valid) => {
        if (valid) {
          this.$store.dispatch(USER_SAVE_PASS, this.rulePass).then(() => {
            this.changePass = false;
            this.rulePass.password = '';
            this.rulePass.password2 = '';
            this.$notify({
              title: 'Изменение пароля',
              message: 'Новый пароль сохранён',
              type: 'success'
            });
          });
        } else {
          console.log('error submit!!');
        }
      });
    },
    submitName(ruleFormName) {
      this.$refs[ruleFormName].validate((valid) => {
        if (valid) {
          this.userChange.id = this.user.id;
          this.userChange.name = this.ruleFormName.name;
          this.$store.dispatch(USER_SAVE, this.userChange).then(() => {
            this.nameInputView = false;
          });
        } else {
          console.log('error submit!!');
        }
      });
    },
    submitAnnotation() {
      this.userChange.id = this.user.id;
      this.userChange.name = this.user.name;
      this.userChange.annotation = this.annotation;
      this.$store.dispatch(USER_SAVE, this.userChange).then(() => {
        this.annotationInputView = false;
      });
    }
  }
};
</script>

<style scoped>

</style>
