<template>
  <div :style="{top: slideInfo + 'px'}" class="user-new-post-info-block">
    <div class="user-new-post-info-text">
      {{ message }}
    </div>
  </div>
</template>

<script>
import TweenLite from 'gsap';

export default {
  name: 'UserSlideInfo',
  props: ['post'],
  data() {
    const top = 54;
    return { top, message: '' };
  },
  computed: {
    slideInfo() {
      let changeTop = null;
      if (this.post.teaserImage !== null && !this.post.teaserImage.hasImage()) {
        changeTop = 54;
        this.message = 'Выберите тизер вашей статьи. '
            + 'Для кропа изображение можно двигать и менять масштаб колёсиком мыши. Для публикации наличие тизера обязательно.';
      }
      if (this.post.teaserImage !== null && this.post.teaserImage.hasImage()) {
        changeTop = 450;
        this.message = 'Добавьте теги к вашей статье, чтобы другие пользователи могли её легко найти.';
      }
      if (this.post.teaserImage !== null && this.post.teaserImage.hasImage() && this.post.tags.length > 0) {
        changeTop = 520;
        this.message = 'Добавьте заголовок. Помните,  «Краткость – сестра таланта».';
      }
      if (this.post.teaserImage !== null && this.post.teaserImage.hasImage()
          && this.post.tags.length > 0 && this.post.title.length > 7) {
        changeTop = 590;
        this.message = 'Напишите интересную статью и мы обязательно опубликуем её.';
      }
      TweenLite.to(this.$data, 0.7, { top: changeTop });
      return this.top;
    }
  }
};
</script>

<style scoped>

</style>
