<template>
  <div class="profile-avatar-container">
    <croppa v-show="!user.avatar || changeAvatar" v-model="uploadAvatar"
            class="user-settings-avatar"
            :width="200"
            :height="200"
            placeholder="Загрузите аватар"
            placeholder-color="#000"
            :placeholder-font-size="14"
            canvas-color="transparent"
            :show-remove-button="true"
            remove-button-color="black"
            :zoom-speed="10"
            :prevent-white-space="true"
            :show-loading="true"
            :remove-button-size="20"
            @file-choose="showButtons"
    />

    <el-button-group v-if="changeAvatar" class="button-group">
      <el-button :disabled="saveAllow" class="button-approve" type="text" @click="save">
        <i class="far fa-check" title="Сохранить" />
      </el-button>
      <el-button class="button-cancel" type="text" @click="cancel">
        <i class="fal fa-times" title="Отмена" />
      </el-button>
    </el-button-group>

    <div v-if="user.avatar && !changeAvatar" class="profile-avatar">
      <img class="user-settings-avatar-img" :src="user.avatar" alt="">
      <div class="profile-avatar-edit">
        <div class="profile-avatar-edit-el" @click="updateAvatar">
          <i class="el-icon-upload avatar-update-icon" />
          <div class="secondary-text">
            Обновить аватар
          </div>
        </div>
        <div class="profile-avatar-edit-x">
          <i title="Удалить" class="el-icon-close avatar-update-icon" @click="avatarDelete" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { AVATAR_DEL, AVATAR_SAVE } from '../../../store/actions/user';

export default {
  name: 'UserAvatar',
  data() {
    const changeAvatar = false;
    const uploadAvatar = null;
    const initAvatar = null;
    return {
      changeAvatar,
      uploadAvatar,
      initAvatar
    };
  },
  computed: {
    ...mapGetters(['user']),
    saveAllow() {
      let allow = true;
      if (this.uploadAvatar !== null && this.uploadAvatar.hasImage()) {
        allow = false;
      }
      return allow;
    }
  },
  methods: {
    showButtons() {
      this.changeAvatar = true;
    },
    updateAvatar() {
      this.uploadAvatar.chooseFile();
      this.changeAvatar = true;
    },
    avatarDelete() {
      this.$store.dispatch(AVATAR_DEL).then(() => {
      });
    },
    cancel() {
      this.changeAvatar = false;
      this.uploadAvatar.remove();
    },
    save() {
      const avatar = { avatar: this.uploadAvatar.generateDataUrl('image/jpeg') };
      this.$store.dispatch(AVATAR_SAVE, avatar).then(() => {
        this.$message({ message: 'Сохранено.', type: 'success', center: true });
        this.changeAvatar = false;
      });
    }
  }
};
</script>

<style scoped>
  .button-group {
    display: block;
    position: absolute;
    left: 65px;
    margin-top: 6px;
  }
  .secondary-text {
    color: whitesmoke;
    margin-left: 5px;
  }
</style>
