<template>
  <div v-if="post.categories.length > 0" class="post-category">
    <router-link v-for="category in post.categories" :key="category" :to="'/category-list/' + category">
      <div class="post-category-item secondary-text" :class="categoryColor(category)">
        {{ categoryTitles(category) }}
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'PostCategories',
  props: ['post'],
  methods: {
    categoryColor(category) {
      return {
        'c-news': category === 'news',
        'c-article': category === 'articles',
        'c-review': category === 'reviews',
        'c-preview': category === 'preview',
        'c-guide': category === 'guides',
        'c-movie': category === 'video',
        'c-cybersport': category === 'esport'
      };
    },
    categoryTitles(category) {
      let categoryTitle = '';
      if (category === 'news') {
        categoryTitle = 'Новость';
      }
      if (category === 'articles') {
        categoryTitle = 'Статья';
      }
      if (category === 'reviews') {
        categoryTitle = 'Обзор';
      }
      if (category === 'preview') {
        categoryTitle = 'Превью';
      }
      if (category === 'guides') {
        categoryTitle = 'Гайд';
      }
      if (category === 'video') {
        categoryTitle = 'Видео';
      }
      if (category === 'esport') {
        categoryTitle = 'Киберспорт';
      }
      return categoryTitle;
    }
  }
};
</script>

<style scoped>

</style>
