<template>
  <div class="auth-container">
    <h2>Войти</h2>
    <el-form :label-position="labelPosition" label-width="70px" @submit.native.prevent="login()">
      <el-form-item label="Ваш логин">
        <el-input v-model="formData.email" v-focus placeholder="Введите логин woh или почту" type="email" required />
      </el-form-item>

      <el-form-item label="Пароль">
        <el-input v-model="formData.password" placeholder="Введите пароль" type="password" required />
        <div v-if="wrongAuth" class="login-error">
          Что-то пошло не так, неправильный логин или пароль.
        </div>
      </el-form-item>

      <div class="button-wrap signin">
        <button native-type="submit" class="button-filled">
          <span v-if="!sending" class="special-text">Войти</span>
          <sending-loading v-if="sending" />
        </button>
      </div>
    </el-form>
    <div class="text-align-center">
      <a class="secondary-text" @click="$emit('update:layout', 'password-recovery')">Забыли логин или пароль?</a>
    </div>
    <div class="button-wrap registration">
      <button class="button" @click="$emit('update:layout', 'registration')">
        Зарегистрироваться
      </button>
    </div>
    <div class="text-align-center">
      <p class="secondary-text sn">
        войдите с помощью
      </p>
    </div>
    <div class="sn-container">
      <div class="sn-item">
        <img src="../../assets/images/sn/facebook.jpg">
      </div>
      <div class="sn-item">
        <img src="../../assets/images/sn/vk.jpg">
      </div>
      <div class="sn-item">
        <img src="../../assets/images/sn/google.jpg">
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { AUTH_REQUEST } from '../../store/actions/auth';
import SendingLoading from '../parts/misc/SendingLoading2.vue';

export default {
  name: 'Login',
  components: { SendingLoading },
  data() {
    return {
      sending: false,
      labelPosition: 'top',
      formData: { email: null, password: null }
    };
  },
  computed: {
    ...mapGetters(['authStatus']),
    wrongAuth() {
      return this.authStatus === 'error';
    }
  },
  methods: {
    login() {
      this.sending = true;
      this.$store.dispatch(AUTH_REQUEST, this.formData).then(() => {
        this.sending = false;
        this.$emit('success');
        window.scrollTo(0, 0);
      }).catch(() => {
        this.sending = false;
        window.scrollTo(0, 0);
      });
    }
  }
};
</script>

<style scoped>
  .signin {
    margin: 40px 0 16px;
  }
  .registration {
    margin: 32px 0 16px;
  }
  .sn {
    color: #666666;
    margin-bottom: 16px;
  }
  .sn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sn-item {
    margin-right: 24px;
  }
  .sn-item:last-child {
    margin-right: 0;
  }

  .special-text {
    color: #FFFFFF;
  }
</style>
