<template>
  <el-dialog class="auth-mobile"
             custom-class="auth-dialog"
             :show-close="false"
             :close-on-click-modal="false"
             :visible.sync="authorizeShow"
             :before-close="modalShow"
             @open="setDefaultLayout"
  >
    <div class="close-button" @click="modalShow">
      <img src="../../assets/images/icons/new/close-b.png" alt="">
    </div>
    <component :is="layout" :layout.sync="layout" @success="modalShow" />
  </el-dialog>
</template>

<script>
import { mapGetters } from 'vuex';
import { AUTH_SHOW } from '../../store/actions/auth';
import Login from './Login.vue';
import Registration from './Registration.vue';
import RegistrationSuccess from './RegistrationSuccess.vue';
import PasswordRecovery from './PasswordRecovery.vue';
import PasswordRecoverySuccess from './PasswordRecoverySuccess.vue';

export default {
  name: 'AuthorizeModalContainer',
  components: {
    Registration, Login, RegistrationSuccess, PasswordRecovery, PasswordRecoverySuccess
  },
  data() {
    return {
      layout: 'login',
      testString: ''
    };
  },
  computed: {
    ...mapGetters(['authorizeShow'])
  },
  methods: {
    setDefaultLayout() {
      this.layout = 'login';
    },
    modalShow() {
      this.$store.commit(AUTH_SHOW);
    }
  }
};
</script>

<style scoped>
  .close-button {
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 24px;
    line-height: 1;
  }
</style>
