<template>
  <div class="auth-container">
    <h2>Восстановление пароля</h2>

    <el-form :label-position="labelPosition" label-width="70px" @submit.native.prevent="registration()">
      <el-form-item label="Почта">
        <el-input v-model="email" v-focus placeholder="Введите вашу электронную почту" type="email" required />
        <div v-if="errorEmail" class="login-error">
          Такая учётная запись не существует
        </div>
      </el-form-item>
    </el-form>

    <div class="button-group">
      <div class="button-wrap">
        <button class="button" @click="$emit('update:layout', 'login')">
          Отмена
        </button>
      </div>

      <div class="button-wrap">
        <button class="button-filled" @click="$emit('update:layout', 'password-recovery-success')">
          <span v-if="!sending" class="special-text">Восстановить</span>
          <sending-loading v-if="sending" />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import SendingLoading from '../parts/misc/SendingLoading.vue';

export default {
  name: 'PasswordRecovery',
  components: { SendingLoading },
  data() {
    return {
      sending: false,
      errorEmail: false,
      email: null,
      labelPosition: 'top'
    };
  }
};
</script>

<style scoped>
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
  .button-wrap {
    width: 100%;
  }
  .button-group div:first-child {
    margin-right: 24px;
  }
  .special-text {
    color: #FFFFFF;
  }
</style>
