<template>
  <div class="auth-success-container">
    <div class="text-align-center">
      <h2>Письмо отправлено</h2>
    </div>

    <p class="info">
      Проверите вашу почту и следуйте инструкциям в письме
    </p>

    <div class="text-align-center">
      <a class="special-text" @click="$emit('success')">Закрыть</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PasswordRecoverySuccess'
};
</script>

<style scoped>
  .info {
    text-align: center;
    margin: 31px 0 34px;
    color: #666666;
  }
</style>
