<template>
  <div class="auth-success-container">
    <div class="text-align-center">
      <h2>Успех</h2>
    </div>

    <p class="info">
      На указанную вами почту было отправлено письмо с подтверждением
    </p>

    <div class="text-align-center">
      <a class="special-text" @click="$emit('success')">Закрыть</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegistrationSuccess'
};
</script>

<style scoped>
  .info {
    text-align: center;
    margin: 31px 0 34px;
    color: #666666;
  }
</style>
