/*CSS WOH.ru */
* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Roboto Condensed';
  font-size: 32px;
  line-height: 36px;
  color: #1A1A1A;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto Condensed';
  font-size: 24px;
  line-height: 24px;
  color: #1a1a1a;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto Condensed';
  font-size: 18px;
  color: #1A1A1A;
  line-height: 1.25;
  font-weight: 700;
}

p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: #1A1A1A;
  text-transform: none;
  font-weight: 400;
}

.special-text {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1A1A1A;
}

.secondary-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #1A1A1A;
}

.small-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #1B1B1B;
}

.small-mobile-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #1B1B1B;
}

body {
  background-color: #ececec;
  overflow-x: hidden;
  font-size: 16px;
}

.main-container {
  background-color: white;
  max-width: 70rem;
  box-shadow: 0 0 4px 0 #8c8c8c, 0 0 0 1px #e3e4e8;
  min-height: 100vh;
}

.body-margin-left {
  margin-left: 200px;
}

body a {
  text-decoration: none;
  color: #1681FF;
}

:focus {
  outline-style: none;
  outline-width: 0;
}

img.cover, video.cover {
  object-fit: cover;
}

.v-modal {
  opacity: .9;
}

.button,
.button-filled,
.forum-button {
  width: 100%;
  mix-blend-mode: normal;
  height: 40px;
  border-radius: 0;
  cursor: pointer;
  border: 2px solid #1681FF;
  box-sizing: border-box;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1681FF;
}

.button-filled {
  background-color: #1681FF;
  color: #FFFFFF;
}

.forum-button {
  height: 48px;
  width: 166px;
  background-image: url(../../assets/images/icons/new/forum-b.png);
  background-repeat: no-repeat;
  text-align: left;
  line-height: 1;
  padding: 12px 16px;
  background-position: 90% 50%;
}

.forum-button:hover {
  background-image: url(../../assets/images/icons/new/forum-w.png);
}

.button:hover,
.forum-button:hover {
  background-color: #1681FF;
  color: #FFFFFF;
}

.button:active,
.button-filled:active {
  height: 38px;
  width: calc(100% - 4px);
}

.forum-button:active {
  height: 44px;
  width: 162px;
}

.button-filled:hover {
  background-color: #1681FF;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(22, 129, 255, 0.2);
}

.button-wrap,
.forum-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.forum-button-wrap {
  height: 48px;
  width: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.text-align-center {
  text-align: center;
}

.forum-button-link {
  margin-left: 40px;
}

p a,
.post-announce-link a {
  border-bottom: 1px solid rgba(22, 129, 255, 0.3);
}

p a:hover,
.post-announce-link a:hover {
  border-color: #1681FF;
}

/*Базовая анимация маршрутов*/

.fade-enter-active, .fade-leave-active {
  transition: opacity .2ms;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fadePost-enter-active, .fadePost-leave-active {
  transition: opacity .3s;
}
.fadePost-enter, .fadePost-leave-active {
  opacity: 0;
}

/*Лист комментариев*/
.list-enter-active, .list-leave-active {
  transition: opacity .3s;
}
.list-enter, .list-leave-to {
  opacity: 0;
}

/*ELEMENT FIX*/
.el-main {
  padding: 0;
  margin-top: 15px;
}

.el-button.is-disabled {
  cursor: default!important;
}

input {
  border-radius: 0!important;
}

input:hover {
  border: 1px solid #999999!important;
}

input:focus {
  border: 2px solid #1681FF!important;
}

.el-backtop {
  top: 20px!important;
  left: 1340px!important;
  transition:all .3s ease;
}


/*GENERAL*/

@media screen and (max-width: 63.9375em) {
  .margin-left-clear {
    margin-left: 0!important; }
}

@media screen and (max-width: 1180px) {
  .left-menu-radiogroup-grid {
    display: grid; }
}

@media screen and (min-width: 800px) {
  .el-dialog-width .el-dialog {
    width:70%!important;; }
}

.sub-block-title {
  margin-bottom: 8px;
}

.to-top {
  padding: 14px;
  font-size: 36px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.to-top-i {
  margin: 0 auto;
  width: 27px;
}

.m-top {
  margin-top: 20px;
}

.margin-auto-small {
  margin: 0 auto!important;
}

.block-shadow {
  border-radius: 2px;
  box-shadow: 0 0 4px 0 #8c8c8c, 0 0 0 1px #e3e4e8;
}

.thumbnail {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

a.thumbnail {
  transition: box-shadow 200ms ease-out; }
a.thumbnail:hover, a.thumbnail:focus {
  box-shadow: 0 0 6px 1px rgba(23, 121, 186, 0.5); }
a.thumbnail image {
  box-shadow: none;
}

.none-decoration {
  text-decoration: none;
}

.normal i {
  font-style: normal;
}

.r-margin {
  margin-right: 20px;
}

.more-news {
  height: 80px;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

/* FROALA */

.fr-box.fr-basic .fr-element p{
  font-size: 14px;
}

.user-page-container .fr-box.fr-basic .fr-element p {
  font-size: 16px;
}

.fr-video {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.fr-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.comment-new-editor .fr-newline {
  background: none!important;
}

.comment-new-editor .fr-box.fr-basic.fr-bottom .fr-wrapper,
.comment-new-editor .fr-toolbar.fr-bottom,
.comment-edit .fr-box.fr-basic.fr-bottom .fr-wrapper,
.comment-edit .fr-toolbar.fr-bottom {
  border: none;
}

.comment-new-editor .fr-element {
  border: 1px solid #d6d6d6;
}

.user-page-container .fr-wrapper,
.user-page-container .fr-toolbar {
  border: none!important;
}

.user-page-container .fr-box.fr-basic .fr-element {
  padding: 0 0 30px;
}

.comment-new-editor .fr-toolbar .fr-btn-grp {
  margin: 0;
}

.fa-image {
  color: green;
}

.fa-video-camera {
  color: #e51616;
}

.fa-link {
  color: #0c5fa7;
}
/* ADVERT */



/* HEADER */

.header {
  margin-bottom: 15px;
  z-index: 12;
  position: relative;
}

.cd-auto-hide-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is_hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.top-bar {
  top: 0;
  width: 100%;
  z-index: 22;
  display: -webkit-flex;
  display: flex;
  background: white;
  padding-bottom: 10px;
}

.top-bar-body {
  background-color: #272B2F;
  height: 48px;
  z-index: 200;
}

.top-bar-body a {
  color: #f5f5f5;
  padding: 4px 0 5px 0;
}

.top-bar-body a:hover {
  color: #99cbff;
}

.top-bar-main {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 100%;
}

.avatar-body {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.avatar-container {
  margin-right: 12px;
}

.user-avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 0;
  color: transparent;
  background-color: #4b4b4b;
}

.avatar-body-buttons {
  display: flex;
}

.avatar-body-buttons div {
  width: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
  margin-right: 20px;
}

.avatar-body-buttons div:last-child {
  margin: 0;
}

.avatar-body-username {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 105px;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 1;
}

.top-bar-body .user-avatar {
  height: 35px;
  width: 35px;
}

.avatar-body a {
  padding: 21px 0 16px 0;
  border: none!important;
}

.top-bar-user-avatar {
width: 40px;
height: 40px;
border-radius: 50%;
font: bold 28px/73px Helvetica, Arial, sans-serif;
display: inline-flex;
align-items: center;
justify-content: center;
}

.el-header {
  height: 100%!important;
  background: white;
  padding: 0;
}

.top-bar .el-menu--horizontal {
  margin: 0 auto;
  border: none;
}

.el-menu-item a {
  padding: 20px 0 15px!important;
}

.top-bar-mobile-title {
  display: block;
  height: 50px;
}

.top-bar-mobile-title a {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #efefef;
  display: block;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  line-height: 40px;
}

.top-bar-mobile-title a:hover {
  color: #efefef;
}

.top-bar-title a {
  font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 44px;
  font-weight: 800;
  color: #205c9a;
  display: block;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
}

.top-bar-title a:hover {
  color: #205c9a!important;
}

.top-bar-subtitle {
  font-size: 14px;
  margin: 0 0 5px 4px;
  text-transform: uppercase;
  line-height: 1;
}

.menu-el {
  color: #f3f3f3;
  font-size: 14px;
  cursor: pointer;
}

.submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #272B2F;
  overflow: auto;
  max-height: 100vh;
}

.submenu::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

.search {
  min-height: 50px;
  padding: 10px;
}

.top-bar-search {
  line-height: 68px;
}

.top-bar-search a {
  padding: 24px 0 12px;
}

.top-bar-search i {
  font-size: 20px;
  padding-bottom: 13px;
  width: 20px;
}

.search-button-close i {
  font-size: 28px;
  font-weight: 600;
  margin-top: 14px;
  color: #f3f3f3;
}

.search-button-close i:hover {
  color: #99cbff;
}

.user-block {
  height: 100px;
  padding: 24px 17px 28px;
  background-color: #3D4144;
}
.signin-body {
  display: flex;
  align-items: center;
  border: none!important;
  cursor: pointer;
}
.signin-button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
  margin: 0 10px 0 0;
  background-color: #747474;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signing-text {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  text-shadow: none;
  color: whitesmoke!important;
}
.signing-text:hover {
  text-shadow: none;
  color: whitesmoke;
}
.signin-button img {
  height: 16px;
}

/* Teaser */

.teaser-container {
  width: 100%;
}

.teaser-body {
  padding: 0 20px 35px;
}

.teaser-main {
  height: 360px;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: inset 0 -180px 180px -50px rgba(0, 0, 0, 0.78);
  box-shadow: inset 0 -180px 180px -50px rgba(0, 0, 0, 0.78);
}

.teaser-main:hover,
.teaser-sub:hover {
  opacity: 0.9;
  filter: contrast(130%);
}

.teaser-sub {
  height: 179px;
  margin: 0 0 2px 2px;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: inset 0 -140px 180px -50px rgba(0,0,0,.7);
  box-shadow: inset 0 -140px 180px -50px rgba(0,0,0,.7);
}

.teaser-main-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 66px 30px 30px;
}

.teaser-main-title-body {
  margin: 15px;
}

.teaser-main-title {
  color: white;
}

.teaser-main-info-body {
  display: flex;
}

.teaser-main-info-el {
  display: flex;
  align-items: center;
  margin-right: 26px;
}

.teaser-main-i {
  fill: white;
  margin-right: 8px;
  width: 22px;
}


.teaser-main-count {
  color: white;
  font-size: 14px;
}

.teaser-sub-title-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 20px 20px;
}

.teaser-sub-title {
  color: white;
  font-weight: 700;
  margin: 0;
  font-size: 22px;
}

.teaser-sub-container:first-child {
  margin-right: 2px;
}

.teaser-sub-height {
  height: 360px;
  margin: 0;
}

.teaser-sub-margin {
  margin-left: 2px;
}

.teaser-sub-fontsize {
  font-size: 32px;
  line-height: 36px;
}

.teaser-sub-title-margin {
  margin: 0 66px 30px 30px;
}

/* 6 block */

.some-else-container {
  position: relative;
  margin: 0 30px 40px;
}

.some-else-body {
}

.some-else-block {
  height: 214px;
  background-size: cover;
  background-position: center;
  position: relative;
  /*-webkit-box-shadow: inset 0 -80px 40px -14px rgba(0,0,0,.7);
  box-shadow: inset 0 -80px 40px -14px rgba(0,0,0,.7);*/
  -webkit-box-shadow: inset 0px 0 20px 120px rgba(0, 0, 0, 0.34);
  box-shadow: inset 0px 0 0px 120px rgba(0, 0, 0, 0.34);
  width: 47%;
  margin: 10px auto 10px 0;
}


.some-else-title-container {
  margin: 15% 5% 0;
}

.some-else-block-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

/* MOBILE */

.mobile-hashtags, .widget-hashtags {
  margin-bottom: 40px;
  position: relative;
}

.mobile-hashtags-container {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  position: relative;
  line-height: 50px;
  background-color: white;
}

.mobile-hashtags-container:after,
.mobile-hashtags-container:before,
.widget-hashtags .swiper-container:after,
.widget-hashtags .swiper-container:before {
  content: '';
  display: block;
  width: 20px;
  height: 78%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  top: 0;
}

.widget-hashtags .swiper-container:after,
.widget-hashtags .swiper-container:before {
  height: 100%;
}

.mobile-hashtags-container:after,
.widget-hashtags .swiper-container:after {
  right: 0;
  background: -webkit-gradient(linear,left top,right top,from(rgba(255,255,255,0)),to(#fff));
  background: linear-gradient(90deg,rgba(255,255,255,0),#fff);
}

.mobile-hashtags-container:before,
.widget-hashtags .swiper-container:before {
  left: 0;
  background: -webkit-gradient(linear,right top,left top,from(rgba(255,255,255,0)),to(#fff));
  background: linear-gradient(-90deg,rgba(255,255,255,0),#fff);
}


.mobile-hashtags-tabs {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 3px;

}

.mobile-hashtags-tabs-wrp {
  white-space: nowrap;
  min-width: inherit;
  padding-right: 20px;
}

.mobile-hashtags-tabs-wrp a {
  margin-left: 15px;
}

.mobile-hashtags-tabs-wrp a:last-child {
  margin-right: 15px;
}

.mobile-hashtags-item {
  display: inline-block;
  font-size: 18px;
}

.mobile-hashtags-title {
  display: inline-block;
  color: #747474;
  font-size: 14px;
  margin-left: 15px;
}

.mobile-hashtags-name {
  font-size: 15px;
  margin-left: 1px;
  color: #000000;
}

.mobile-hashtags-container::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.mobile-hashtags-container::-webkit-scrollbar-track {
  background-color: #000000;
  border: 2px solid #555555;
}

/* WIDGET */

.floated-label-wrapper {
  position: relative; }

.floated-label-wrapper label {
  background: #fefefe;
  color: #1779ba;
  font-size: 0.75rem;
  font-weight: 600;
  left: 0.75rem;
  opacity: 0;
  padding: 0 0.25rem;
  position: absolute;
  top: 2rem;
  transition: all 0.15s ease-in;
  z-index: -1; }

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
  border-radius: 4px;
  font-size: 1.75em;
  padding: 0.5em; }

.floated-label-wrapper label.show {
  opacity: 1;
  top: -0.85rem;
  z-index: 1;
  transition: all 0.15s ease-in; }

.widget-hashtags .mobile-hashtags-item {
  display: inline-block;
  color: black;
  font-family: Roboto Condensed;
  font-size: 16px;
  border: 2px solid;
  padding: 6px 20px;
  font-weight: 600;
  border-image-source: linear-gradient(149.49deg, #ED1C22 -3.28%, #28A5DC 104.97%);
  border-image-slice: 1;
}

.widget-hashtags .mobile-hashtags-item:hover {
  background: linear-gradient(149.49deg, #ED1C22 -3.28%, #28A5DC 104.97%);
  mix-blend-mode: normal;
  color: white;
}

.swiper-slide {

}


/* AUTH */

.login-error {
  color: #E62128;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}

.auth-dialog {
  width: 388px;
  margin-top: 15vh!important;
}

.auth-dialog .el-dialog__body {
  padding: 32px 24px;
}

.auth-container .el-form-item__label {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 0 0 8px 0;
}

.auth-container .el-form-item {
  margin-bottom: 16px;
}

.auth-dialog .el-dialog__header {
  display: none;
}

.auth-container label {
  width: 100%;
}

.auth-container h2 {
  margin-bottom: 16px;
}

.auth-success-container:before {
  content: "";
  background-image: url(../../assets/images/icons/new/blocks-t.png);
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.auth-success-container:after {
  content: "";
  background-image: url(../../assets/images/icons/new/blocks-b.png);
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ADMIN PAGE */

.admin-right-info {
  max-width: 300px;
  background-color: #fff;
  margin: 0 30px 15px 0;
}

.admin-right-panel-info span {
  font-weight: 700;
}

.admin-section-nav {
  box-sizing: border-box;
  box-shadow: rgba(200, 215, 225, 0.5) 0 0 0 1px, #e9eff3 0 1px 2px;
  padding: 0;
  margin: 0 0 17px;
  background: white;}

.admin-list-body {
  background: white;
  padding: 0 30px 40px;
}

.admin-post-list-title a {
  text-decoration: none;
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.admin-post-list-title a:hover {
  color: #275a9a;
}

.admin-post-list {
  box-sizing: border-box;
  border: solid 1px #d9e3ea;
  padding: 15px 0 15px;
  margin: 0;
}

.admin-post-list-info span {
  margin-right: 10px;
  font-size: 12px;
  border-right: 1px solid #dededebd;
  padding-right: 10px;
}

.admin-post-list-info {
  margin-top: 10px;
}

.admin-post-list:not(:first-child) {
  border-top: 0;
}
.source-buttons {
}

.source-buttons a {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
}

.admin-right-panel-info {
  margin-bottom: 12px;
  font-size: 14px
}
.admin-right-panel-buttons button {
  margin-bottom: 5px!important;
  margin-left: 0!important;
}

.admin-right-panel-body {
  padding: 18px;
  margin-left: 15px;
  background-color: white;
  width: 230px;
}

.admin-right-panel-body span {
font-weight: bold;
}

.avatar-body .el-dropdown-link {
  cursor: pointer;
  color: white;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

.el-dropdown-link-i:hover {
  color: #0395c3;
}

.el-dropdown-menu a{
  text-decoration: none;
}

.el-dropdown-menu, .el-popover {
  border: 1px solid #b1c8ff;
}

.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #a6c0ff;
}

.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: #a6c0ff;
}

.admin-top-navigation {
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
  background-color: white;
}

.admin-top-navigation span {
  margin-right: 20px;
  font-size: 14px;
}

.admin-top-navigation a {
  padding: 10px 0;
}

.admin-chang-view-button {
  margin-bottom: 10px;
}

.admin-moderation-empty {
  font-size: 38px;
  font-weight: bold;
  color: #f9f9f9;
  text-shadow: 2px 2px 2px rgb(77, 143, 181);
  text-align: center;
  position: relative;
  top: 200px;
}

.image-mask .mask {
  background-color: rgba(43, 43, 43, 0.6) !important;
}

.admin-preview-container {
  display: flex;
  margin-top: 40px;
}

.admin-teaser-container {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #d2d2d2
}

.admin-teaser-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.admin-teaser-radio {
  margin-right: 20px;
}

.admin-teaser-info {
  margin-left: auto;
  display: flex;
  align-items: center;
}


.el-dialog__body {
  word-break: normal;
}

.admin-teaser-preview {
  cursor: pointer;
}

.vue-select-image__thumbnail {
  width: 100px;
  cursor: pointer;
}

.admin-teaseredit-control {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

/* Source */

.source-title {
}

.source-info {
  padding: 20px 0;
  font-size: 14px;
}

.source-info span {
  font-weight: 600;
}

.source-settings {
  padding: 20px 0;
}

.source-settings-show a {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.source-settings .el-form-item__label {
  line-height: 30px;
  font-weight: 600;
}

  /* Posts */
.posts-body{
}

.top-line {
  background-color: #3f5469;
  height: 5px;
}

.post-line {
  background-color: #3f5469;
  height: 3px;
  margin: 0 0 40px;
}

.post-body {
  position: relative;
  background: #fff;
  margin: 0 30px 40px;
  border-bottom: 1px solid #e2e2e2;
}

.post-body-entry {
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0 30px;
}

.post-body-entry input,
.post-body-entry textarea {
  margin-bottom: 10px;
  padding-left: 5px;
  width: 100%
}

.post-header {
  display: flex;
}

.post-header-edit {
  margin-left: 10px;
}

.post-header-line {
  margin: 0 30px 20px;
  border-bottom: 1px solid #d8d8d8;
}

.post-teaser {
  margin-bottom: 16px;
}

.post-header a {
  text-decoration: none;
  font-size: 20px;
  color: #353535;
  font-weight: bold;
}

.post-header a h1:hover {
  color: #1681FF;
}

.post-header-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-h-r i {
  color: #383838;
  font-size: 14px;
}

.post-text {
  margin-bottom: 16px;
}

.post-text-details, .post-text {
  margin-top: 16px;
}

.post-text-details img {
  display: block;
  margin: 40px auto;
  padding: 0 64px;
}

.post-text-details p {
  margin-bottom: 25px;
  padding: 0 64px;
}
.post-text img {
  padding: 20px 0;
}
.post-announce-link {
  line-height: 1;
}

.post-announce-link a {
  font-size: 14px;
  font-weight: bold;
}

.post-tags {
}

.post-content {
  margin-bottom: 20px;
}

.post-source-container {
  display: flex;
  align-items: center;
  margin: 4px 0 20px;
  font-weight: 700;
  font-size: 14px;
}

.post-source {
  margin-right: 10px;
}

.post-views {
  font-style: normal;
  font-size: 15px;
  color: #3d6d8c;
}

.post-comment-i {
  font-style: normal;
  font-size: 18px;
  color: #4a84af;
  padding: 1px;
  cursor: pointer;
}

.post-comment-i:hover {
  color: #3f688c;
}

.post-comment-i-count {
  font-family: 'Font Awesome 5 Pro', serif;
  font-size: 18px;
  font-weight: 600;
  color: #2f5d80;
}

.post-input {
  width: 100%;
  margin-bottom: 20px;
}

.right-info {
  max-width: 250px;
  background-color: #fff;
  margin: 0 30px 15px 0;
}

.first {
  margin-bottom: 40px;
}

.discussion-header {
  margin-bottom: 16px;
}

.discussion-item {
  padding: 0 0 13px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.discussion-container div:last-child {
  margin-bottom: 16px;
}

.right-info-header {
  background-color: #e9e9e9;
  padding: 7px 7px 7px 15px;
  color: #383838;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
}

.right-info-body {
  padding: 16px;
}

.right-info-body ul {
  margin: 0;
}


.right-info-body li {
  list-style: none;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 14px;
}

.right-info-ten-news a {
  color: #262626;
}

.right-info-ten-news a:hover {
  color: #167ac6;
}

.right-info-ten-news li {
  font-size: 14px;
  padding: 10px 0;
  border-bottom: 1px solid #cecece;
}

.right-info-ten-news li:first-child {
  padding-top: 0;
}

.right-info-ten-news li:last-child {
  border: none!important;
  padding-bottom: 0;
}

body span.fr-emoticon.fr-emoticon-img {
  font-size: inherit;
  height: 1em;
  width: 1em;
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  margin: -0.1em 0.1em 0.1em;
  line-height: 1;
  vertical-align: middle;
  background-repeat: no-repeat !important;
}

.tag-close-button {
  cursor: pointer;
  font-size: 20px;
  color: #c3c3c3;
  top: 3px;
  position: relative;
  margin-left: 2px;
}

.tag-label.primary {
  margin-right: 10px;
  border-radius: 4px;
}

.tag-label.primary a {
  color: white;
}

.el-tag {
  background-color: #fbfdff;
}

.edit-group-buttons {
  margin: 20px 0;
}

.input-group-field {
  height: 35px;
}

.tag-edit-container {
  margin: 40px 0 40px;
}

.tags-block:first-child {
  margin-bottom: 30px;
}

.user-tags {
  margin-bottom: 15px;
}

.el-tag--small {
  margin-right: 10px;
  cursor: pointer;
  color: #155aa1;
}

.post-tags-title {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}

/* CATEGORY */

.category-title {
  padding-bottom: 20px;
  color: #303030;
  font-weight: 600;
  font-size: 26px;
}

.post-category {
  display: flex;
}

.post-category-item {
  font-size: 14px;
  padding: 0 16px;
  margin-left: 10px;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.post-category-item a {
  font-weight: 400;
  font-size: 14px;
}
.c-news {
  border: 1px solid rgba(34, 152, 242, 0.3);
  color: #2196F3;
}
.c-news:hover {
  border: 1px solid #2196F3;
}

.c-article {
  border: 1px solid rgba(25, 125, 200, 0.3);
  color: #197dc8;
}
.c-article:hover {
  border: 1px solid #197dc8;
}

.c-review {
  border: 1px solid rgba(0, 188, 212, 0.3);
  color: #00BCD4;
}
.c-review:hover {
  border: 1px solid #00BCD4;
}

.c-preview {
  border: 1px solid rgba(60, 200, 66, 0.3);
  color: #3cc842;
}
.c-preview:hover {
  border: 1px solid #3cc842;
}

.c-guide {
  border: 1px solid rgba(255, 193, 7, 0.3);
  color: #FFC107;
}
.c-guide:hover {
  border: 1px solid #FFC107;
}

.c-movie {
  border: 1px solid rgba(255, 87, 34, 0.3);
  color: #FF5722;
}
.c-movie:hover {
  border: 1px solid #FF5722;
}

.c-cybersport {
   border: 1px solid rgba(96, 125, 139, 0.3);
   color: #607D8B;
}
.c-cybersport {
  border: 1px solid #607D8B;
}

/* категории для тизеров и админки */

.teaser-body .post-category-item,
.some-else-title-container .post-category-item {
  border-radius: 1px;
  padding: 3px 5px;
  display: inline-flex;
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin: 0 5px 5px 0;
  line-height: 1;
}

.teaser-body .c-news,
.some-else-title-container .c-news {
  background-color: #2196F3;
}
.teaser-body .c-article,
.some-else-title-container .c-article {
  background-color: #197dc8;
}
.teaser-body .c-review,
.some-else-title-container .c-review {
  background-color: #00BCD4;
}
.teaser-body .c-preview,
.some-else-title-container .c-preview {
  background-color: #3cc842;
}
.teaser-body .c-guide,
.some-else-title-container .c-guide {
  background-color: #FFC107;
}
.teaser-body .c-movie ,
.some-else-title-container .c-movie {
  background-color: #FF5722;
}
.teaser-body .c-cybersport,
.some-else-title-container .c-cybersport {
  background-color: #607D8B;
}

.teaser-body .post-category-item:hover {
  opacity: .9;
}

/* Post Comments */

.comments-body {
  position: relative;
  background: #fff;
  padding: 0 40px 200px;
}

.comments-body .sub-block-title {
  padding-bottom: 16px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 24px;
}

.comment-body {
  position: relative;
  padding: 15px;
  transition: background-color .5s ease-in-out;
}

.replay-target-view {
  background-color: #ebebeb;
}

.comment-header {
  display: flex;
  width: 100%;
}

.comment-header-sub {
  line-height: 18px;
  margin: auto 0;
}

.comment-like {
  margin-left: auto;
}

.comment-user {
  color: #1a1a1a;
  font-weight: 700;
  font-size: 16px;
}

.comment-replay-user {
  font-size: 14px;
  cursor: pointer;
}

.comment-user-avatar {
  height: 48px;
  width: 48px;
  min-width: 48px;
  border-radius: 50%;
  border: 0;
  color: transparent;
  background-color: #4b4b4b;
}

.vue-avatar--wrapper {
  display: inline-flex!important;
  margin-right: 1px;

}

.comment-reply {
  text-decoration: none;
  font-size: 14px;
  color: #999999;
}

.comment-reply-button {
  font-size: 14px;
}

.comment-edit-buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.comment-edit-buttons i {
  margin-right: 10px;
  cursor: pointer;
}

.comment-text {
  font-size: 14px;
  margin: 8px 0;
  overflow-wrap: break-word;
}
.comment-text p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
}
.comment-date {
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
}
.comment-footer{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.comment-footer-delete {
  font-size: 18px;
}

.comment-footer-edit {
  font-size: 14px;
}

.comment-new {
  margin: 24px 0 30px;
}

.comment-edit {
  margin-top: 15px;
}

.comment-new-button {
  float: right;
  position: relative;
  bottom: 40px;
  z-index: 10;
}

.replay-info {
  font-size: 14px;
  margin-bottom: 10px;
}

.replay-info i {
  position: relative;
  top: 2px;
  font-weight: bold;
  color: #dc0909;
  cursor: pointer;
  font-size: 16px;
}

/* COMMENT INPUT */

.comment-input-body {
  border: 1px solid #D9D9D9;
}

.comment-input-body-shadow {
  box-sizing: border-box;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.comment-input-container {
  position: relative;
}

.comment-input-editable {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  z-index: 3;
}

.comment-input {
  padding: 10px;
  width: 100%;
  font-size: 14px;
}

.comment-input:focus,
.comment-input:hover,
.comment-input {
  border-color: #DCDFE6;
  border-radius: 0;
}

.bg-cream {
  background-color: transparent!important;
}

.cooltextarea {
  background-color: transparent!important;
  margin: 0!important;
  z-index: 2;
}

.comment-input-footer {
  display: flex;
  align-items: center;
}

.comment-send-button {
  width: 118px;
  height: 32px;
  background-color: #1681FF;
}

.comment-send-button:active {
  width: 114px;
  height: 28px;
}

.comment-send-button div {
  color: #FFFFFF;
}

.comment-send-cancel {
  width: 96px;
  height: 32px;
  margin-right: 16px;
  cursor: pointer;
}

.comment-input-buttons svg {
  display: block;
  text-align: center;
  float: none;
  margin: 8px 7px;
  width: 24px;
}

.comment-input-buttons {
  display: flex;
  align-items: center;
}

.comment-input-buttons button,
.comment-input-buttons label {
  transition: all 0.5s;
  cursor: pointer;
  float: left;
  height: 16px;
  outline: none;
  border: 0;
  line-height: 0;
  text-align: left;
  border-radius: 0;
}

.comment-input-buttons-button {
  transition: all 0.5s;
}
.comment-input-buttons-button:hover,
.comment-input-buttons-button:hover,
.comment-input-buttons label:hover {
  background-color: #f3f3f3;
}

.insert-image path {
  fill: #228b22;
}

.insert-link path {
  fill: #0c5fa7;
}

.insert-video path {
  fill: #d81515;
}

.comment-media {
  display: flex;
  margin-top: 15px;
  max-width: 550px;
  flex-wrap: wrap;
}

.comment-media-el {
  position: relative;
  cursor: pointer;
  max-height: 300px;
  margin: 0 5px 5px 0;
  top: 0;
  left: 0;
  flex: 3 1 30%;
}

.comment-media-el img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.comment-input-video-input {
  margin: 5px 0;
}

.comment-media-dialog .el-dialog__body {
  padding: 0;
}

.comment-media-dialog .el-dialog__header {
  padding: 0;
}

.comment-media-dialog .el-dialog {
  box-shadow: none;
  background-color: transparent;
}

.comment-media-dialog .swiper-wrapper {
  display: flex;
  align-items: center;
}

.comment-media-dialog .el-dialog__headerbtn {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 100;
}

.comment-media-dialog .el-dialog__headerbtn i {
  color: white;
  font-size: 40px;
}

.media-gallery-container .swiper-button-prev,
.media-gallery-container .swiper-button-next {
  position: fixed;
  top: 0;
  width: 10%;
  height: 100%;
  background-image: none;
}

.media-gallery-container .swiper-button-next:after,
.media-gallery-container .swiper-container-rtl .swiper-button-prev:after,
.media-gallery-container .swiper-button-prev:after,
.media-gallery-container .swiper-container-rtl .swiper-button-prev:after{
  content: none;
}

.media-gallery-container .swiper-button-prev {
  left: 30px;
}
.media-gallery-container .swiper-button-next {
  right: 30px;
}

.flex-basis-5 {
  flex: 3 1 18%;
}
.flex-basis-7 {
  flex: 3 1 15%;
}

.is-vertical {
  flex: 2 1 14%;
  order: -1;
}

.is-vertical-one {
  flex: 0 1 30%;
}

.comment-media-dialog .el-dialog {
}
/* инфо блок */

.info-body {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.post-info-item button {
  cursor: pointer;
}

.comment-rating {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.comment-rating button {
  cursor: pointer;
  font-size: 14px;
}

.rating-count,
.info-view-count {
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;

}

.post-rating svg,
.comment-rating svg{
  cursor: pointer;
}

.rating-count {
  margin: 0 8px;
}

.comment-rating-count {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  line-height: 2.3;
  font-weight: 700;
  margin: 0 8px;
  background-color: gainsboro;
}

.fa-thumbs-down {
  color: #c53030;
}

.fa-thumbs-up {
  color: #249411;
}

.post-info-item {
  margin-right: 16px;
  display: flex;
  align-items: center;
  color: black;
}

.info-i {
  fill: black;
  width: 24px;
}

.info-i-view {
  margin-right: 8px;
}

/* профиль */

.profile-body {
  position: relative;
  background: #fff;
  padding: 0 30px;
}

.title {
  padding-bottom: 30px!important;
  color: #353535;
  font-weight: 600;
  font-size: 18px;
}

.tag-title {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  margin: 20px 30px 30px;
}

.tag-title-item {

  margin-left: 2px;
  font-size: 26px;
  line-height: 1;
}

.post-hashtag {
  margin-right: 10px;
  font-size: 14px;
  color: #1681FF!important;
  font-weight: 700;
}

.post-hashtag a {
  color: #1681FF!important;
}


.profile-tab-body {
  padding-top: 10px;
}

.profile-tab-body i {
  margin-left: 3px;
}

.profile-avatar-container {
  position: relative;
  margin-bottom: 40px;
  line-height: 0;
}

.profile-avatar {
  position: relative;
  width: 200px;
  height: 200px;
}

.profile-avatar img {
  border-radius: 2%;
  width: 200px;
  height: 200px;
}

.profile-avatar-edit {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-whatinput='touch'] .profile-avatar-edit,
[data-whatintent='touch'] .profile-avatar-edit {
  opacity: 1;
  transition: opacity .4s;
}

.profile-avatar:hover .profile-avatar-edit {
  opacity: 1;
  transition: opacity .4s;
}
.profile-avatar-edit-el {
  background-color: rgba(29,32,34,.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar-edit-x {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(29,32,34,.5);
}

.profile-avatar-edit-x  a {
  padding: 5px;
}
.profile-avatar-edit-el,
.profile-avatar-edit-el i,
.profile-avatar-edit-x i {
  color: whitesmoke;
  cursor: pointer;
}

.profile-avatar-edit-el a:hover,
.profile-avatar-edit-x  a:hover
{
  color: #e3e3e3;
}

.profile-name {
  font-weight: 600;
  color: #2d76b5;
  margin-bottom: 10px;
}

.profile-email {
  font-weight: 600;
  color: #363636;
  margin-bottom: 10px;
  font-size: 14px;
}

.profile-change-name {
  margin-bottom: 10px;
}

.profile-change-name button {
  cursor: pointer;
}

.profile-change-status, .profile-change-pass, .profile-change-name{
  font-size: 14px;
}

.profile-change-status a, .profile-change-pass a,
.profile-change-name a{
cursor: pointer;
}

.profile-change-name span:first-child {
  margin-right: 2px;
}

.profile-tab-body label {
  text-align: left;
}

/* USER SIDEBAR */

.sidebar-user-container {
  padding: 20px;
}

.sidebar-user-avatar-container {
  overflow: hidden;
  display: flex;
  margin-bottom: 15px;
}

.sidebar-user-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-flex;
  border: 0;
  color: transparent;
  background-color: #4b4b4b;
}

.sidebar-user-rating-body-container {
  margin: 15px 0 0 15px;
}

.sidebar-user-rating-title {
  font-size: 14px;
  color: #ffffff;
  text-align: left;
  line-height: 24px;
}

.sidebar-user-rating-count {
  color: #f7ba2a;
  font-size: 14px;
}

.sidebar-user-info-container {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  line-height: 24px;
  margin-bottom: 13px;
}

.sidebar-user-email {
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 300;
  width: 160px;
  margin-bottom: 10px;
}

.sidebar-user-datareg {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}

.sidebar-user-menu {
  text-align: left;
  margin-bottom: 17px;
}

.sidebar-user-menu ul {
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-user-menu li {
  overflow: hidden;
  color: white;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid #4d4d4d;
  padding: 7px 0;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-user-menu li:last-child {
  border: none;
}

.sidebar-user-menu-count {
  border: 1px solid white;
  border-radius: 20px;
  min-width: 30px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  padding: 1px 6px;
}

.sidebar-user-buttons button {
  height: 32px;
  color: white;
  width: 100%;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
}

.sidebar-user-buttons-primary {
  background-color: #1681ff;
}

.sidebar-user-buttons-danger {
  background-color: #ff3125;
}

.sidebar-user-buttons-primary:hover,
.sidebar-user-buttons-primary:focus {
  background-color: #3894ff;
}

.sidebar-user-buttons-danger:hover,
.sidebar-user-buttons-danger:focus {
  background-color: #ff4e44;
}

.user-page-container {
  margin: 35px 30px 0;
}

/* USER
.user-page-container {
  margin: 35px 30px 0;
}

/* USER SETTINGS */

.user-settings-container {
  margin: 40px 30px 0 94px;
}

.user-settings-title {
  margin-bottom: 32px;
}

.user-settings-avatar-img, .user-settings-avatar {
  width: 200px;
  height: 200px;
}

.user-settings-account {
  padding-bottom: 100px;
}

.user-settings-account-title {
  margin-bottom: 16px;
}

.user-settings-input-container {
  display: flex;
  margin-bottom: 32px;
}

.user-settings-input-block {
  position: relative;
  height: 40px;
  width: 320px;
  margin-right: 16px;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.user-settings-input-i {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  right: 7px;
  top: 12px;
  font-size: 14px;
  opacity: 0;
}

.user-settings-input-block:hover .user-settings-input-i {
  opacity: 1;
  transition: opacity .4s;
}

.button-approve,
.button-cancel {
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px!important;
  padding: 0;
}

.button-approve {
  color: #27bd27;
}

.button-cancel {
  color: #dc0909;
}

.user-settings-input-pass {
  padding: 12px;
}

.user-settings-input-container .el-form-item {
  margin-bottom: 0;
}

.user-settings-form-pass {
  width: 410px;
}

.user-settings-form-pass .el-form-item {
  margin-bottom: 20px;
}

.user-settings-input-container .el-input__inner {
  height: 40px;
  width: 320px;
}

.user-settings-input-title {
  font-size: 14px;
  width: 145px;
  margin-top: 8px;
}

.user-settings-line {
  border-bottom: 1px solid #d8d8d8;
}

/*USER NEW POST*/

.user-new-post-top-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.user-new-post-top-container h2 {
  margin-right: 20px;
}

.user-new-post-top-time {
  font-size: 14px;
  font-weight: 600;
  color: #616161;
}

.user-new-post-top-buttons {
  margin-left: auto;
}

.user-new-post-top-buttons a {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.user-new-post-teaser {
  margin-bottom: 20px;
}

.user-new-post-title {
  margin-bottom: 20px;
}

.user-new-post-title .el-textarea__inner {
  font-family: 'Roboto Condensed';
  font-size: 32px;
  line-height: 36px;
  color: #1A1A1A;
  font-weight: 600;
  border: none;
  width: 100%;
  padding: 0;
}

.fr-toolbar.fr-inline {
}

.user-new-post-info-block {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  position: relative;
  padding: 15px;
  border: none;
  border-radius: 2px;
  text-align: left;
  background-color: #fff4e2;
  margin-left: 25px;
  font-size: 14px;
  top: 54px;
}

.user-new-post-info-block::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 39px;
  height: 30px;
  position: absolute;
  content: "";
  top: -4px;
  right: 0;
  bottom: 0;
  left: -13px;
  border: none;
  color: rgba(0,0,0,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background-color: #fff4e2;
  text-shadow: none;
  -webkit-transform: rotateX(-315.12678732195275deg) rotateY(166.15776058793872deg) rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-36deg);
  transform: rotateX(-315.12678732195275deg) rotateY(166.15776058793872deg) rotateZ(-14.32394487827058deg)  translateX(-5px) skewX(-50deg);
}

.user-new-post-info-text {
  position: relative;
  z-index: 5;
}

/* USER POSTS LIST */

.user-posts-list-no-content {
  border: 1px solid #1681ff;
  margin-top: 30px;
  text-align: center;
  padding: 40px;
}

.user-posts-list-no-content a {
  display: block;
  margin-top: 10px;
}

/* Левое меню в админке */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #272b2f;
  width: 200px;
  z-index: 4;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar-mini {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #2b2b2b;
  width: 40px;
  z-index: 999;
  display: none;
}

.sidebar a,
.top-bar-body a{
  color: whitesmoke;
  text-shadow: 1px 1px 2px black, 0 0 1em #575757;
  background-color: transparent!important;
}

.sidebar a:hover {
  color: #3880be;
}

.sidebar-menu {
  padding: 14px 0;
  text-align: left;
}

.sidebar-menu ul {
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500!important;
  overflow: hidden;
  color: white;
  cursor: pointer;
  padding-left: 16px;
  border-left: 4px solid #282c30;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;

}

.sidebar-body li:hover {
  background-color: #4e80ad;
}

.sidebar-body {
  margin-top: 5px;
}

.sidebar-body ul {
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-body li {
  overflow: hidden;
  color: white;
  font-size: 14px;
  padding: 15px 0 0;
  cursor: pointer;
}

.sidebar-body li:hover {
  background-color: #4e80ad;
}

.sidebar-body i {
  font-size: 12px;
  margin-right: 5px;
  position: relative;
}

.admin-left-menu-body-i {
  margin-top: 5px;
}

.close-li i {
  margin: 0;
  font-size: 25px;
  left: 2px;
  float: none;
  position: relative;
}

.sidebar-switcher {
  display: block;
  width: 18px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 30px;
}
.sidebar,
.submenu,
.sidebar-switcher i {
  color: white;
}

/* FOOTER */
.footer {
  height: 140px;
  max-width: 70rem;
  background-color: #272727;
  box-shadow: 0 0 4px 0 #8c8c8c, 0 0 0 1px #e3e4e8;
}

/*hashtag swiper*/

.widget-hashtags-container {
  margin: 0 auto;
  width: 95%;
}

.widget-hashtags .swiper-container {
  width: 95%;
  padding: 0 15px;
}

.widget-hashtags .swiper-wrapper {
  display: flex;
  align-items: center;
}

.widget-hashtags .swiper-slide {
  width: auto;
}

.widget-hashtags .swiper-button-prev {
  left: 0;
}

.widget-hashtags .swiper-button-next {
  right: 0;
}

.widget-hashtags .swiper-button-prev,
.widget-hashtags .swiper-button-next {
  width: 30px;
  height: 30px;
  margin-top: -16px;
  background-size: 20px 30px;
}

.widget-hashtags  .hashtags-title {
  color: #747474;
  font-size: 14px;
}

.widget-hashtags .swiper-slide {
  margin-right: 20px;
}

/* @media */

@media screen and (max-width: 1199px) {
  .r-margin {
    margin: 0;
  }
  .sidebar {
    width: 40px!important;
  }

  .body-margin-left {
    margin-left: 40px;
  }
  .sidebar-hide-m {
    display: none;
  }
  .sidebar-mini {
    display: block;
  }
  .sidebar {
    left: 40px;
  }
  .sidebar-open {
    margin-left: 240px!important;
  }
}

@media screen and (max-width: 1023px) {
  .right-info-header {
    padding: 7px 0 7px 9px;
  }
  .teaser-body {
    padding: 0 20px 30px;
  }
  .post-body {
    margin: 0 20px 30px;
  }
}

@media screen and (max-width: 880px) {
  .croppa-container canvas {
    width: 100%!important;
    height: 100%!important;
  }
  .auto-for-small {
    -webkit-box-flex: 1!important;
    -webkit-flex: 1 1 0!important;
    -ms-flex: 1 1 0!important;
    flex: 1 1 0!important;
  }
}

@media screen and (max-width: 768px) {

  .post-text-details p, .post-text-details img {
    padding: 0;
  }

  .user-page-container, .user-settings-container {
    margin: 0;
  }

  .main-container {
    box-shadow: none;
  }

  ::-webkit-scrollbar {height: 4px; width: 4px}
  ::-webkit-scrollbar-thumb { height: 4px; background-color: #a9a9a9; border-radius: 3px;}

  .main-body {
    padding: 20px;
    margin: 0;
  }

.profile-body {
  padding: 0;
}

  .top-line {
    margin: 0;
  }

  .post-body {
    margin: 0 0 30px;
    padding: 0;
  }

  .post-body-entry {
    padding: 0;
  }

  .post-text {
    text-align: left;
  }

  .header {
    margin-bottom: 0;
  }

  .post-tags,
  .post-footer {
    padding: 10px 0;
  }

  .comments-body {
    padding: 0 0 100px;
  }

  .teaser-body {
    padding: 0 0 40px 0;
  }

  .teaser-sub {
    height: 149px;
  }
  .teaser-main {
    height: 300px;
  }

  .teaser-main-title {
    font-size: 26px;
  }

  .teaser-sub-title-container {
    padding: 0 10px 10px;
  }

  .teaser-sub-title {
    font-size: 18px;
  }

  .post-line {
    height: 3px;
  }

  .m-top {
    margin-top: 0;
  }

  .top-bar-forum {
    width: 40px;
    padding: 0;
    border: 0;
    justify-content: flex-end;
  }

  .top-bar-forum-text {
    display: none;
  }

  .some-else-container {
    margin: 0;
  }

  .widget-hashtags .swiper-button-prev,
  .widget-hashtags .swiper-button-next {
    display: none;
  }

  .media-gallery-container .swiper-button-prev,
  .media-gallery-container .swiper-button-next {
    display: none;
  }

  .widget-hashtags-container {
    width: 100%;
  }

  .widget-hashtags .swiper-container {
    width: 100%;
    padding: 0;
  }

  .widget-hashtags .swiper-container:after,
  .widget-hashtags .swiper-container:before {
    background: none;
  }

}

@media screen and (max-width: 39.99875em) {
  .body-margin-left {
    margin: 0!important;
  }
  .post-line {
    height: 2px;
  }
  .main-container {
    margin-top: 30px;
    padding-top: 70px;
  }

  .post-body-entry {
    padding-top: 25px;
  }

  .main-body {
    padding: 0 15px 10px;
  }
  .some-else-block {
    width: 100%;
  }

  .some-else-container {
    margin: 0 auto;
  }

  .user-settings-input-container {
    display: block;
  }

  .user-settings-input-title {
    margin: 0 0 5px;
  }

  .user-settings-input-block {
    width: 100%;
    max-width: 320px;
  }

  .user-settings-form-pass {
    width: auto;
  }

}

@media screen and (max-width: 668px) {
  .hide-for-mobile {
    display: none;
  }
  .submenu .avatar-body {
    padding: 0;
    background: none;
    margin: 20px;
  }

  .sidebar-menu li {
    margin-bottom: 5px;
  }

  .user-block {
    height: 80px;
    padding: 16px 15px 28px;
  }
}

@media screen and (max-width: 500px) {
  .comment-body {
    padding: 15px 5px;
  }
  .comment-send-cancel {
    width: 55px;
  }
  .comment-send-button {
    width: 100px;
  }
  .hide-for-pm {
    display: none;
  }

  .user-new-post-top-container {
    display: block;
  }

  .user-posts-list-no-content {
    padding: 30px;
  }

  .auth-dialog {
    width: 100%;
    height: 100%;
    margin-top: 0!important;
  }

  .auth-mobile {
    overflow: hidden;
  }
}

@media screen and (max-width: 374px) {
  .comment-send-cancel {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .user-settings-input-container .el-input__inner {
    width: 290px;
  }
}
