<template>
  <div class="lds-ellipsis">
    <div /><div /><div /><div />
  </div>
</template>

<script>
export default {
  name: 'SendingLoading'
};
</script>

<style scoped>
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    right: -2px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: -7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #999999;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 2px;
    animation: lds-ellipsis1 0.8s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 3px;
    animation: lds-ellipsis2 0.8s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 13px;
    animation: lds-ellipsis2 0.8s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 22px;
    animation: lds-ellipsis3 0.8s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(8px, 0);
    }
  }

</style>
