<div>
  <div class="comment-input-body">
    <div class="comment-input-container" :class="commentBodyShadow">
  <div class="cooltextarea-outer" :class="'bg-' + componentColor">

    <div v-on:focus="commentInputFocus($event)" :class="minHeight" ref="coolTextarea"
         id="cool-text-area"
         class="cooltextarea"
         :contenteditable="disabled ? false : true"
         @input="updateContent"
         @paste="onPaste"
         @keydown.enter="enterKey"
         @keydown.shift.enter="shiftEnterKey"
         @mouseup="saveSelection"
         @keyup="saveSelection"
         @focus="restoreSelection">
    </div>
    <div class="input-placeholder" v-if="!commentText">Написать комментарий</div>
  </div>

  <div v-if="commentMedia.length > 0" class="comment-media">
    <div :class="flexBasis(item.thumbnail)" class="comment-media-el" v-for="(item, index) in commentMedia">
      <div class="comment-input-el-del" @click="mediaElDelete(index)">
        <i class="el-icon-close"></i>
      </div>
      <i v-if="item.embedCode" class="fab fa-youtube video"></i>
      <img @click="showGallery(index)" v-if="item.thumbnail.content" :src="item.thumbnail.content">
      <img @click="showGallery(index)" v-if="item.thumbnail.url" :src="commentImageUrl(item.thumbnail.url)">
    </div>
  </div>

      <div class="coolTextarea-footer" :class="footerVisible">
        <div class="comment-input-buttons">
          <coolpicker
            :pickerWidth="pickerWidth"
            :pickerMaxHeight="pickerMaxHeight"
            :appendToBody="appendToBody"
            :triggerType="triggerType"
            :skinsSelection="true"
            :recentEmojisFeat="recentEmojisFeat"
            :recentEmojisStorage="recentEmojisStorage"
            :recentEmojiStorageName="recentEmojiStorageName"
            :recentEmojiLimit="recentEmojiLimit"
            :searchEmojisFeat="searchEmojisFeat"
            :searchEmojiPlaceholder="searchEmojiPlaceholder"
            :searchEmojiNotFound="searchEmojiNotFound"
            :twemojiPath="twemojiPath"
            :twemojiExtension="twemojiExtension"
            :twemojiFolder="twemojiFolder"
            :disabled="disableEmojiPicker"
            @addTextBlur="addTextBlur"
            @emojiUnicodeAdded="emojiUnicodeAdded"
            @emojiImgAdded="emojiImgAdded"></coolpicker>
          <div class="comment-input-buttons-button">
            <label class="insert-image" title="Добавить изображение">
              <img src="../../../../../assets/images/icons/new/image.png" alt="">
              <input name="file" id="file" @change="addImgFromFile($event)" type="file"/>
            </label>
          </div>

          <el-popover class="comment-input-buttons-button" placement="top-start" visible-arrow="true" width="300" v-model="visibleDialogVideo">
            <p style="font-size: 14px">Вставьте URL-адрес на youtube видео</p>
            <el-input v-model="videoPopoverInput" class="comment-input-video-input" size="small"
                      autocomplete="off"></el-input>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="visibleDialogVideo = false">отмена</el-button>
              <el-button type="primary" size="mini" @click="addVideoFromPopover">Добавить</el-button>
            </div>
            <button slot="reference" class="insert-video" title="Добавить видео">
              <img src="../../../../../assets/images/icons/new/video.png" alt="">
            </button>
          </el-popover>
        </div>

        <div class="comment-send" v-if="!edit">
          <button @click="cancelComment" class="comment-send-cancel secondary-text">Отмена</button>
          <div class="button-wrap">
            <button @click="commentAdd" native-type="submit" class="button-filled comment-send-button">
              <div class="secondary-text" v-show="!submitting">Отправить</div>
            </button>
          </div>
        </div>

        <div class="comment-send" v-if="edit">
          <button @click="cancelEdit" class="comment-send-cancel secondary-text">Отмена</button>
          <div class="button-wrap">
            <button @click="commentSave()" native-type="submit" class="button-filled comment-send-button">
              <div class="secondary-text" v-show="!submitting">Сохранить</div>
              <sending-loading v-show="submitting"></sending-loading>
            </button>
          </div>
        </div>
        </div>

  <media-gallery-dialog :dialogVisible="dialogVisible" :media="commentMedia" :index="index.i"></media-gallery-dialog>
</div>
  </div>
</div>
