<template>
  <div v-if="isProfileLoaded" class="sidebar-user-container">
    <div class="sidebar-user-avatar-container">
      <router-link class="none-decoration" to="/user">
        <avatar v-if="!user.avatar" :size="80" :custom-style="{ display: 'inline-flex' }"
                :username="user.name"
        />
        <img v-if="user.avatar" class="sidebar-user-avatar" alt="" :src="user.avatar">
      </router-link>

      <div class="sidebar-user-rating-body-container">
        <div class="sidebar-user-rating-title">
          Рейтинг:
        </div>
        <div>
          <i class="el-rate__icon el-icon-star-on" />
          <span class="sidebar-user-rating-count">5</span>
        </div>
      </div>
    </div>
    <div class="sidebar-user-info-container">
      <div class="sidebar-user-name">
        {{ user.name }}
      </div>
      <div class="sidebar-user-email">
        {{ user.email }}
      </div>
      <div class="sidebar-user-datareg">
        Регистрация {{ user.createdAt | dateShort }}
      </div>
    </div>

    <div class="sidebar-user-menu">
      <ul>
        <router-link tag="li" to="/user" exact>
          Статьи
          <span class="sidebar-user-menu-count">0</span>
        </router-link>
        <router-link tag="li" to="/news">
          Черновики
          <span class="sidebar-user-menu-count">0</span>
        </router-link>
        <router-link style="display: none" tag="li" to="/articles">
          Подписки
          <span class="sidebar-user-menu-count">24</span>
        </router-link>
        <router-link style="display: none" tag="li" to="/reviews">
          Уведомления
          <span class="sidebar-user-menu-count">146</span>
        </router-link>
      </ul>
    </div>

    <div class="sidebar-user-buttons">
      <button class="sidebar-user-buttons-primary" @click="settings">
        Настройки
      </button>
      <button class="sidebar-user-buttons-danger" @click="logout">
        Выход
      </button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { AUTH_LOGOUT } from '../../store/actions/auth';

export default {
  name: 'SideBarUserPage',
  computed: {
    ...mapGetters(['isProfileLoaded', 'user'])
  },
  methods: {
    logout() {
      this.$store.dispatch(AUTH_LOGOUT)
        .then(() => {
          this.$router.push('/');
        });
    },
    settings() {
      this.$router.push('/user-settings');
    }
  }
};
</script>

<style scoped>
  .el-icon-star-on {
    color: #f7ba2a;
    font-size: 20px;
    margin: 0;
  }
</style>
