<template>
  <div>
    <a @click="sidebarSwitch">
      <div id="sidebar-mini" class="sidebar-mini">
        <div class="sidebar-switcher">
          <i :class="arrow" class="fal" />
        </div>
      </div>
    </a>

    <div id="sidebar" :class="open" class="sidebar sidebar-hide-m">
      <component :is="menu" @switch-menu="sidebarSwitch" />
    </div>
  </div>
</template>

<script>
import $ from 'jquery';
import SideBarMainMenu from './SidebarMainMenu.vue';
import SideBarUserPage from './SidebarUserPage.vue';

export default {
  name: 'Sidebar',
  components: { SideBarUserPage, SideBarMainMenu },
  data() {
    return {
      menuVisible: false,
      adminMenu: false
    };
  },
  computed: {
    menu() {
      return this.$route.meta.menu || 'side-bar-main-menu';
    },
    arrow() {
      return {
        'fa-arrow-to-left': this.menuVisible,
        'fa-arrow-to-right': !this.menuVisible
      };
    },
    open() {
      return {
        open: this.menuVisible
      };
    }
  },
  created() {
  },
  mounted() {
    $(document).mouseup((e) => {
      const div = $('#sidebar');
      const div2 = $('#sidebar-mini');
      if (!div.is(e.target) && div.has(e.target).length === 0
          && !div2.is(e.target) && div2.has(e.target).length === 0 && this.menuVisible) {
        this.menuVisible = false;
        this.$emit('sidebar-switch');
      }
    });
  },
  methods: {
    sidebarSwitch() {
      if (!this.menuVisible) {
        this.menuVisible = true;
        this.$emit('sidebar-switch');
      } else {
        this.menuVisible = false;
        this.$emit('sidebar-switch');
      }
    }
  }
};
</script>

<style scoped>
  .open {
    width: 200px!important;
    display: block;
  }

  .close {
    width: 40px!important;
  }
</style>
