<template>
  <div id="app2">
    <div>
      <topbar-mobile class="hide-for-medium" />
      <sidebar class="show-for-medium" @sidebar-switch="sidebarSwitch" />
      <div :class="open" class="main-container body-margin-left">
        <top-title class="show-for-medium" />
        <div class="main-body">
          <nuxt />
          <client-only>
            <el-backtop>
              <div class="scroll-top">
                <i class="el-icon-arrow-up" />
              </div>
            </el-backtop>
          </client-only>
        </div>
      </div>
      <client-only><authorize-modal-container /></client-only>
      <div style="display: none" class="footer body-margin-left">
        <div />
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable no-console */
import { mapGetters } from 'vuex';
import TopTitle from '../components/parts/TopTitle.vue';
import TopbarMobile from '../components/parts/TopbarMobile.vue';
import AuthorizeModalContainer from '../components/authorize/ModalContainer.vue';
import Auth from '../store/modules/auth';
import { USER_REQUEST } from '../store/actions/user';
import Sidebar from './../components/side-bar/Sidebar.vue';

export default {
  name: 'News',
  components: {
    AuthorizeModalContainer, TopbarMobile, Sidebar, TopTitle
  },
  data() {
    return {
      showAuth: false,
      menuVisible: false
    };
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'user', 'isProfileLoaded']),
    open() {
      return {
        'sidebar-open': this.menuVisible
      };
    }
  },
  created() {
    const token = this.$cookies.get('user-token');
    Auth.state.token = token;
    if (token) {
      this.$axios.defaults.headers.common.Authorization = `Bearer ${token}`;
    }
  },
  mounted() {
    if (!this.isProfileLoaded && this.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST);
    }
  },
  methods: {
    sidebarSwitch() {
      this.menuVisible = !this.menuVisible;
    }
  }
};
</script>

<style scoped>
  .container {
    height: 100vh; /* делаем высоту контейнера равной высоте окна  */
    overflow-y: scroll; /* так же добавляем прокрутку если контент не вмещается в него  */
    overflow-x: hidden;
  }
  .open {
    margin-left: 200px;
  }
  .scroll-top {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #1989fa;
  }
</style>
