<v-popover theme="dropdown" :trigger="disabled ? 'manual' : triggerType" placement="bottom" :offset="30"
  :popperOptions="popperOptions" :container="appendToBody ? 'body' : '#btn-emoji'">
  <template #popper>
    <div id="emoji-popup" :style="{ width: pickerWidth + 'px' }">
      <div id="emoji-popover-header" class="scroll-min">
        <span v-if="recentEmojisFeat && recentEmojis.length !== 0" v-html="getEmojiImgFromUnicode('⏱️')"
          class="emoji-tab" @click="changeEmojiListActive(-1)" :class="{ 'active': emojiGroupActive === -1 }"></span>
        <span v-for="(emojiGroup, index) in emojiPack" :key="emojiGroup.group" :id="emojiGroup.group"
          v-html="getEmojiGroupDescription(emojiGroup.group)" class="emoji-tab" @click="changeEmojiListActive(index)"
          :class="{ 'active': emojiGroupActive === index }">
        </span>
      </div>

      <div id="emoji-popover-search" v-if="searchEmojisFeat">
        <div id="search-header">
          <input @input="searchEmojiByTerm" :placeholder="searchEmojiPlaceholder" v-model="searchTerm" />
          <span v-html="getEmojiImgFromUnicode('🔍')"></span>
        </div>
      </div>

      <div class="emoji-popover-inner" :style="{ width: pickerWidth + 'px', maxHeight: pickerMaxHeight + 'px' }">

        <div v-if="searchTerm.length !== 0 && searchEmojis.length === 0">
          <strong>{{ searchEmojiNotFound }}</strong>
        </div>

        <div v-if="emojiListActive.length !== 0">
          <p class="emoji-list">
            <span v-for="emoji in emojiListActive" :key="emoji.unicode" v-html="emoji.img" @click="clickEmoji(emoji)"></span>
          </p>
        </div>
      </div>

      <div id="emoji-skins-popup" :style="{ width: pickerWidth + 'px' }" v-if="showSkinsSelector">
        <div class="emoji-popover-inner" :style="{ width: pickerWidth + 'px', maxHeight: pickerMaxHeight + 'px' }">
          <div v-if="emojiListActive.length !== 0">
            <p class="emoji-list">
              <span v-for="emoji in skinsListActive" :key="emoji.unicode" v-html="emoji.img" @click="clickEmoji(emoji)">
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </template>

  <button class="comment-input-buttons-button" id="btn-emoji" @mouseenter="onMouseEnterEmojiBtn()" @mouseleave="onMouseLeaveEmojiBtn()" :disabled="disabled">
    <img src="../../../../../assets/images/icons/new/smile.png" alt="">
  </button>

</v-popover>
