/* Global */
img.emoji {
  height: 24px;
  width: 24px;
  vertical-align: -0.5rem;
}

/* Parent Emoji Popover */
#emoji-popover-header {
  padding: 5px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.emoji-popover-inner {
  border-top: #bdbcbc solid 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Inside Emoji Pack */
.emoji-tab {
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 8px;
  cursor: pointer;
  border-top: 3px solid #e6e6e6;
  border-left: 3px solid #e6e6e6;
  border-right: 3px solid #e6e6e6;
}

.emoji-tab:hover {
  background-color: #bdbcbc;
  border-color: #bdbcbc;
}

.emoji-tab.active {
  background-color: #bdbcbc;
  border-color: #bdbcbc;
}

.emoji-list {
  padding: 10px;
  margin: 0px;
  text-align: justify;
}

.emoji-list > span {
  font-size: 15px;
  cursor: pointer;
  border-radius: 15px;
}

.emoji-list > span > img {
  margin: 5px;
}

.emoji-list > span:hover {
  background-color: #cacaca;
}

/* Popper Emoji */
#btn-emoji {
  height: 100%!important;
  padding: 8px;
}

#btn-emoji {
  border: none;
  cursor: pointer;
}

#btn-emoji > div > img.emoji {
  height: 25px;
  width: 25px;
}

#btn-emoji > #dummy-el {
  height: 25px;
  width: 25px;
}

#btn-emoji:disabled {
  opacity: .6;
  pointer-events: none;
}

/* Search Bar */
#emoji-popover-search {
  background-color: #e6e6e6;
  border-radius: 3px;
  margin-bottom: 5px;
}

#emoji-popover-search > #search-header {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-flow: row wrap;
}

#emoji-popover-search > #search-header > input {
  flex-grow: 90;
  padding: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: #fafafa;
}

#emoji-popover-search > #search-header > span {
  flex-grow: 10;
  border-radius: 5px;
  border: none;
  background-color: transparent;
}

/** Cursor */
.clickable {
  cursor: pointer;
}

/*Vue Tooltip / Popover Styles */
.v-popper__wrapper > .v-popper__inner {
  padding: 0;
  border: 3px #fafafa solid;
}

/** Transition - Fade */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: .4;
  }
  50% {
		opacity: .8;
	}
	100% {
		opacity: 1;
	}
}
