<template>
  <el-dialog style="overflow: hidden;" width="98%" top="5vh" class="comment-media-dialog" :visible.sync="dialogVisible.visible" @opened="openGallery" @close="closeGallery">
    <div v-if="media" class="media-gallery-container">
      <swiper ref="mySwiper" :options="swiperOption">
        <swiper-slide v-for="(item, index) in gallery" :key="index">
          <div v-if="item.embedCode" class="media-gallery-video">
            <div class="fr-video" v-html="item.embedCode" />
          </div>
          <div v-else class="media-gallery-img">
            <img v-if="item.thumbnail.url" :src="image(item.thumbnail.url)" alt="">
            <img v-if="item.thumbnail.content" :src="item.thumbnail.content">
          </div>
        </swiper-slide>
        <div slot="pagination" class="swiper-pagination" />
      </swiper>
      <div slot="button-prev" class="swiper-button-prev">
        <i class="el-icon-arrow-left left" />
      </div>
      <div slot="button-next" class="swiper-button-next">
        <i class="el-icon-arrow-right right" />
      </div>
    </div>
  </el-dialog>
</template>

<script>

export default {
  name: 'MediaGalleryDialog',
  // eslint-disable-next-line vue/require-prop-types
  props: ['media', 'itemindex', 'dialogVisible'],
  data() {
    return {
      swiperOption: {
        keyboard: true,
        slidesPerView: 1,
        autoHeight: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      gallery: null
    };
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.swiper;
    }
  },
  methods: {
    openGallery() {
      this.gallery = this.media;
      this.swiper.slideTo(this.itemindex, 0, false);
    },
    closeGallery() {
      this.gallery = null;
    },
    image(img) {
      let image = '';
      if (img && !img.includes('http://dev.woh.ru')) {
        image = `${process.env.imgRoot}${img}`;
      }
      return image;
    }
  }
};
</script>

<style scoped>
  .media-gallery-container {
    position: relative;
  }
  .back-button-container, .next-button-container {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    background-color: #13131385;
    padding: 21px;
    opacity: 0.8;
  }
  .next-button-container {
    right: 0;
  }

  .back-button-container:hover, .next-button-container:hover {
    opacity: 1;
    transition: opacity .2s;
  }

  .media-gallery-container i {
    font-size: 42px;
    color: #dadada;
    position: absolute;
  }

  .media-gallery-body {
    padding: 0 42px;
  }

  .media-gallery-img {
    display: flex;
    justify-content: center;
    height: 90vh;
  }

  .media-gallery-container img {
    max-height: 700px;
  }
  .media-gallery-img img {
    max-height: 90vh;
    margin: auto 0;
    border-radius: 3px;
  }
  .media-gallery-video {
    width: 70%;
    margin: 0 auto;
  }
  .left {
    top: 50%;
    left: 0;
  }
  .right {
    top: 50%;
    right: 0;
  }
</style>
