<template>
  <div class="mobile-hashtags ">
    <div class="mobile-hashtags-container">
      <div class="mobile-hashtags-tabs">
        <div class="mobile-hashtags-tabs-wrp">
          <div class="mobile-hashtags-title">
            Популярное:
          </div>
          <router-link :to="'/tag/WoW Classic'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">WoW Classic</span>
            </div>
          </router-link>
          <router-link :to="'/tag/fallout'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">fallout</span>
            </div>
          </router-link>
          <router-link :to="'/tag/графика'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">графика</span>
            </div>
          </router-link>
          <router-link :to="'/tag/nintendo'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">nintendo</span>
            </div>
          </router-link>
          <router-link :to="'/tag/RDR2'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">RDR2</span>
            </div>
          </router-link>
          <router-link :to="'/tag/destiny2'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">destiny2</span>
            </div>
          </router-link>
          <router-link :to="'/tag/WOH'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">WOH</span>
            </div>
          </router-link>
          <router-link :to="'/tag/The Sims 4'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">The Sims 4</span>
            </div>
          </router-link>
          <router-link :to="'/tag/PUBG LOL'">
            <div class="mobile-hashtags-item">
              #<span class="mobile-hashtags-name">PUBG LOL</span>
            </div>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MobileWidgetHashtag'
};
</script>

<style scoped>

</style>
