<template>
  <div>
    <div class="discussion-header">
      <h2>Обсуждаемые</h2>
    </div>
    <div v-for="post in newPosts" :key="post.id" class="discussion-item">
      <router-link :to="'/category-list/' + post.categories[0] + '/post/' + post.id">
        <h3>{{ post.title }}</h3>
      </router-link>
    </div>
    <a><h4>Смотреть все</h4></a>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { POSTS_REQUEST } from '../../store/actions/PostGet';

export default {
  name: 'MostCommented',
  computed: {
    ...mapGetters(['posts']),
    newPosts() {
      return this.posts.posts.slice(0, 5);
    }
  },
  created() {
    if (this.posts.posts.length === 0) {
      this.$store.dispatch(POSTS_REQUEST, 0).then(() => {
      });
    }
  }
};
</script>

<style scoped>

</style>
