<template>
  <div class="tags-block">
    <div class="tags-container">
      <div class="tags-container-title">
        Теги статьи:
      </div>
      <div v-for="(tag, index) in post.tags" :key="index">
        <a class="post-hashtag" @click="post.tags.splice(index, 1)">#{{ tag }} <span aria-hidden="true">&times;</span></a>
      </div>
      <el-input v-if="inputVisible" ref="saveTagInput" v-model="newTag" class="input-new-tag" size="mini"
                @keyup.enter.native="addTag" @blur="addTagBlur"
      />
      <div v-else class="button-new-tag-plus" @click="showInput">
        +
      </div>
      <div class="tag-example">
        Например Fallout
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PostTagsAdd',
  props: ['post'],
  data() {
    const defaultTags = ['wow', 'youtube', 'pubg', 'dota2', 'CS'];
    const newTag = '';
    const tags = [];
    return {
      tags, defaultTags, newTag, inputVisible: false, tegInputValue: ''
    };
  },
  methods: {
    test() {
      console.log('da');
      this.inputVisible = false;
    },
    addFromYourTag(tag) {
      const checkTags = this.post.tags.slice();
      for (let i = 0; i < checkTags.length; i += 1) {
        checkTags[i] = checkTags[i].toLowerCase();
      }
      if (!checkTags.includes(tag.toLowerCase())) this.post.tags.push(tag);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(() => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    addTagBlur() {
      this.addTag();
      this.inputVisible = false;
    },
    addTag() {
      const checkTags = this.post.tags.slice();
      this.newTag = this.newTag.replace('#', '');
      for (let i = 0; i < checkTags.length; i += 1) {
        checkTags[i] = checkTags[i].toLowerCase();
      }
      if (checkTags.includes(this.newTag.toLowerCase())) return;
      if (this.newTag) {
        this.post.tags.push(this.newTag);
      }
      this.newTag = '';
    }
  }
};
</script>

<style scoped>
  .tags-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 30px;
    max-width: 780px;
  }

  .tags-container-title {
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
    white-space: nowrap;
  }

  .el-tag + .el-tag {
    margin-left: 10px;
  }

  .tag-el {
    margin: 5px 0;
  }

  .button-new-tag-plus {
    text-align: center;
    width: 22px;
    height: 22px;
    background-color: #1f98ff;
    color: white;
    font-size: 30px;
    line-height: 22px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
  }
  .input-new-tag {
    height: 30px;
    line-height: 30px;
    width: 120px;
    vertical-align: bottom;
    margin-right: 10px;
  }
  .input-new-tag input {
    height: 30px;
    line-height: 30px;
  }
  .tag-example {
    font-size: 14px;
    color: grey;
    white-space: nowrap;
  }
</style>
