<template>
  <div class="teaser-container show-for-medium">
    <div class="grid-x teaser-body">
      <div v-if="teasers.teaserView !== undefined" class="cell auto">
        <router-link :to="'/category-list/' + teasers.teaserView.categories[0] + '/post/' + teasers.teaserView.id">
          <div class="teaser-main" :style="{ backgroundImage: 'url' + '(' + teaserImageUrl(teasers.teaserView.teaserImage) + ')' }">
            <div class="teaser-main-title-container">
              <post-categories :post="teasers.teaserView" />
              <h1 class="teaser-main-title">
                {{ teasers.teaserView.title }}
              </h1>
            </div>
          </div>
        </router-link>
      </div>


      <div v-if="teasers.featuredView && teasers.featuredView.length > 0" :class="featuredContainer" class="cell">
        <div :class="featuredGreedContainer">
          <div v-for="teaser in teasers.featuredView" :key="teaser.id" :class="featuredAuto" class="cell">
            <router-link :to="'/category-list/' + teaser.categories[0] + '/post/' + teaser.id">
              <div :class="featuredSub" class="teaser-sub" :style="{ backgroundImage: 'url' + '(' + teaserImageUrl(teaser.featuredImage) + ')' }">
                <div :class="featuredTextContainer" class="teaser-sub-title-container">
                  <post-categories :post="teaser" />
                  <h2 :class="featuredFontSize" class="teaser-sub-title">
                    {{ teaser.title }}
                  </h2>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PostCategories from '../posts/parts/PostCategories.vue';

export default {
  name: 'TeaserBlock',
  components: { PostCategories },
  computed: {
    ...mapGetters(['teasers']),
    featuredContainer() {
      return {
        'large-8': this.teasers.featuredView.length > 1 && typeof this.teasers.teaserView !== 'undefined',
        'medium-8': this.teasers.featuredView.length > 1 && typeof this.teasers.teaserView !== 'undefined',
        auto: this.teasers.featuredView.length === 1 || typeof this.teasers.teaserView === 'undefined'
      };
    },
    featuredGreedContainer() {
      return {
        'grid-y': typeof this.teasers.teaserView !== 'undefined',
        'grid-x': typeof this.teasers.teaserView === 'undefined'
      };
    },
    featuredAuto() {
      return {
        auto: this.teasers.featuredView.length > 1 && typeof this.teasers.teaserView === 'undefined',
        'teaser-sub-container': this.teasers.featuredView.length > 1 && typeof this.teasers.teaserView === 'undefined'
      };
    },
    featuredSub() {
      return {
        'teaser-sub-height': this.teasers.featuredView.length === 1 || typeof this.teasers.teaserView === 'undefined',
        'teaser-sub-margin': this.teasers.featuredView.length === 1 && typeof this.teasers.teaserView !== 'undefined'
      };
    },
    featuredFontSize() {
      return {
        'teaser-sub-fontsize': this.teasers.featuredView.length === 1 || typeof this.teasers.teaserView === 'undefined'
      };
    },
    featuredTextContainer() {
      return {
        'teaser-sub-title-margin': this.teasers.featuredView.length === 1 || typeof this.teasers.teaserView === 'undefined'
      };
    }
  },
  methods: {
    teaserImageUrl(img) {
      let image = null;
      if (img && !img.includes('woh.ru')) {
        image = `${process.env.imgRoot}${img}`;
      }
      return image;
    }
  }
};
</script>

<style scoped>

</style>
