<template>
  <div class="top-bar-title-block">
    <a style="border: none" @click="reloadContent">
      <img src="../../assets/images/logo/background.png" alt="">
    </a>

    <h3 class="top-bar-title" :class="categoryClassTitle" v-html="categoryTitle" />

    <div class="top-bar-search-body">
      <input placeholder="Найти что-нибудь интересное" class="top-bar-search-input" type="text">
      <img class="top-bar-b-search-button" src="../../assets/images/icons/new/search.png" alt="search">
    </div>
    <a href="https://woh.ru" target="_blank" class="forum-button-link">
      <div class="forum-button-wrap">
        <button class="forum-button">
          Форум WOH
        </button>
      </div>
    </a>
  </div>
</template>

<script>
/* eslint-disable no-console */

import { mapGetters } from 'vuex';
import { POSTS_PURGE, POSTS_REQUEST } from '../../store/actions/PostGet';

export default {
  name: 'TopTitle',
  computed: {
    ...mapGetters(['posts']),
    categoryTitle() {
      let topTitle = '';
      if (!this.$route.params.category) {
        topTitle = 'Новости<br> игрового мира';
      }
      if (this.$route.params.category === 'news') {
        topTitle = 'Новости';
      }
      if (this.$route.params.category === 'articles') {
        topTitle = 'Статьи';
      }
      if (this.$route.params.category === 'reviews') {
        topTitle = 'Обзоры';
      }
      if (this.$route.params.category === 'preview') {
        topTitle = 'Превью';
      }
      if (this.$route.params.category === 'guides') {
        topTitle = 'Гайды';
      }
      if (this.$route.params.category === 'video') {
        topTitle = 'Видео';
      }
      if (this.$route.params.category === 'esport') {
        topTitle = 'Киберспорт';
      }
      if (this.$route.meta.menu === 'side-bar-user-page') {
        topTitle = 'Ваш профиль';
      }
      return topTitle;
    },
    categoryClassTitle() {
      return {
        category: this.$route.params.category
      };
    }
  },
  methods: {
    reloadContent() {
      if (this.$route.name === 'posts-list') {
        this.$store.commit(POSTS_PURGE);
        if (!this.posts.postsLoading) {
          this.$store.dispatch(POSTS_REQUEST, 0);
        }
      } else {
        this.$store.commit(POSTS_PURGE);
        this.$router.push('/');
      }
    }
  }
};
</script>

<style scoped>
  .category {
    font-size: 26px;
  }

  .top-bar-title-block {
    display: flex;
    padding: 20px 0;
    align-items: center;
    border-bottom: 1px solid #d8d8d8;
    margin: 0 20px;
  }

  .top-bar-title {
    width: 110px;
    margin: 0 24px;
  }

  .top-bar-search-body {
    position: relative;
    flex: 1 1 0px;
    margin: 0 auto;
    max-width: 430px;
  }

  .top-bar-search-input {
    height: 48px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 3px;
    padding: 14px 44px 14px 14px;
    border: 1px solid #d8d8d8;
    font-family: 'Open Sans';
    font-size: 14px;
    color: #7f7f7f;
  }

  .top-bar-search-input:focus {
    background-color: white;
  }

  .top-bar-b-search-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    cursor: pointer;
  }
</style>
