<template>
  <div class="widget-hashtags">
    <span slot="button-prev" class="swiper-button-prev" />
    <swiper :options="swiperOption">
      <swiper-slide>
        <router-link :to="'/tag/WoW Classic'">
          <div class="mobile-hashtags-item">
            #WoW Classic
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/fallout'">
          <div class="mobile-hashtags-item">
            #fallout
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/графика'">
          <div class="mobile-hashtags-item">
            #графика
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/nintendo'">
          <div class="mobile-hashtags-item">
            #nintendo
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/RDR2'">
          <div class="mobile-hashtags-item">
            #RDR2
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/destiny2'">
          <div class="mobile-hashtags-item">
            #destiny2
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/WOH'">
          <div class="mobile-hashtags-item">
            #WOH
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/The Sims 4'">
          <div class="mobile-hashtags-item">
            #The Sims 4
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/PUBG LOL'">
          <div class="mobile-hashtags-item">
            #PUBG LOL
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/RDR2'">
          <div class="mobile-hashtags-item">
            #RDR2
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/destiny2'">
          <div class="mobile-hashtags-item">
            #destiny2
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/WOH'">
          <div class="mobile-hashtags-item">
            #WOH
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/The Sims 4'">
          <div class="mobile-hashtags-item">
            #The Sims 4
          </div>
        </router-link>
      </swiper-slide>
      <swiper-slide>
        <router-link :to="'/tag/PUBG LOL'">
          <div class="mobile-hashtags-item">
            #PUBG LOL
          </div>
        </router-link>
      </swiper-slide>
    </swiper>
    <span slot="button-next" class="swiper-button-next" />
  </div>
</template>

<script>

export default {
  name: 'WidgetHashtag',
  data() {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        slidesPerGroup: 3,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    };
  },
  mounted() {
  }
};
</script>

<style scoped>

</style>
